.o-grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 70px;
  &__item {
    flex: 1;
    min-width: 0;
  }
  &_2-column .o-grid__item:first-child {
    padding-right: 128px;
  }
  &_3-column {
    column-gap: 32px;
  }
  &_3-row {
    row-gap: 32px;
  }
}

.o-grid-3 {
  display: grid;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: auto auto auto;
  margin: 80px 0px;
  &__special {
    grid-column: 2/4;
    // background-color: #3265cb;
    border-radius: 6px;
    box-shadow: 10px 10px 0 #f5f5f5;
  }
  &.c-window-tile {
    margin: 0;
    grid-template-columns: auto auto;
    background-color: #3265cb;
    border-radius: 6px;
    overflow: hidden;
    .c-window-tile-content {
      background: transparent;
      box-shadow: none;
      border: none;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &__wrapper {
        margin-right: 30px;
      }
    }
  }
}

.o-grid-2 {
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 22px;
  grid-template-columns: auto auto auto auto;
  &__special {
    grid-column: 2/4;
    background: #3265cb;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 0;
    .logo {
      width: 95px;
      height: 75px;
      display: block;
      background-image: url("/assets/special/special-logo.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 50px;
    }
    .text {
      text-align: center;
      color: #fff;
      font-weight: 400;
      font-size: 32px;
      line-height: 44px;
      margin-bottom: 40px;
      padding: 0 60px;
    }
    .name {
      text-align: center;
      color: #e6edf9;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.01em;
      padding: 0 60px;
    }
  }
}

// .c-window-tile {
//     &__image {
//         width: 50%;
//         img {
//             width: 100%;
//             height: 100%;
//             object-fit: contain;
//         }
//     }
//     &__content {
//         width: 50%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 30px;
//     }
// }
