.o-hero-image {
  max-width: 740px;
  height: auto;
  display: block;
  margin: 0 auto 80px;
  box-shadow: 0px 4px 50px #e8ebf3;
  border-radius: 10px;

  &_alternate {
    max-width: 1124px;
    margin-bottom: 54px;
  }
}
