.o-section-image-1 {
    max-width: 640px;
    height: auto;
    display: block;
    margin: 0 auto 60px;
    box-shadow: 0px 4px 50px #e8ebf3;
    border-radius: 10px;
}

.o-section-image-2 {
    max-width: 736px;
    height: auto;
    display: block;
    margin: 0 auto 80px;
    box-shadow: 0px 4px 50px #e8ebf3;
    border-radius: 10px;
}