.c-button {
    border: none;
    background: none;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    border-radius: 4px;
    height: 46px;
    text-decoration: none;
    font-size: 20px;
    line-height: 26px;
    &_tall {
        height: 52px;
    }
    &_primary {
        color: #fff;
        background-color: #3265cb;
    }
    &_video {
        background: #3265cb;
        border-radius: 100px;
        color: #fff;
        height: 62px;
        font-weight: 600;
        padding-left: 65px;
        background-image: url("/assets/play-icon.svg");
        background-repeat: no-repeat;
        background-position: left 34px center;
    }
}

.c-link {
    color: #3265cb;
    text-decoration: none;
    padding-right: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    &--right-arrow {
        background-image: url("/assets/panels/panel-2-arrow.svg");
        background-repeat: no-repeat;
        background-position: right center;
    }
    &--down-arrow {
        background-image: url("/assets/down-arrow.svg");
        background-repeat: no-repeat;
        background-position: right 11px;
    }
}

.c-drop-btn {
    background-color: #eff3fb;
    text-decoration: none;
    padding: 7px 55px 8px 32px;
    margin-bottom: 27px;
    background-image: url("/assets/down-arrow-black.svg");
    background-repeat: no-repeat;
    background-position: 85% center;
    border-radius: 100px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #3d4043;
    cursor: pointer;
}

.c-button-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &_center {
        justify-content: center;
    }
    &_end {
        justify-content: flex-end;
    }
}

.c-button-gray {
    width: 100%;
    background: #eff3fb;
    border-radius: 6px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #3d4043 !important;
    text-decoration: none;
    &::after {
        content: "";
        display: block;
        width: 16px;
        height: 12px;
        margin-left: 18px;
        background-image: url("/assets/button/button-arrow.svg");
        background-repeat: no-repeat;
    }
}