.column-gap-128 {
    column-gap: 128px;
}

.column-gap-32 {
    column-gap: 32px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-80 {
    margin-bottom: 80px;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.pricing-card-section {
    margin-bottom: 60px;
    .content-wrapper {
        max-width: 352px;
    }
}

.link__text {
    text-decoration: underline;
    color: #3265CB;
}

// comparison label
.c-brand-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 80px;
    font-family: 'Calibre', sans-serif;
    .c-brand {
        display: flex;
        align-items: center;
        img {
            width: 154px;
            margin-right: 5px;
        }
        &__text-plain {
            font-size: 26px;
            line-height: 30px;
            font-weight: 400;
            color: #3D4043;
            padding-top: 4px;
        }
        &__shade {
            font-size: 26px;
            font-weight: 400;
            line-height: 30px;
            color: #3D4043;
            padding: 7px 36px 3px 36px;
            border-radius: 30px;
            background: #EFF3FB;
        }
    }
}