.c-table-section {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        width: 100%;
        display: inline-block;
        height: 30%;
        background: linear-gradient(0deg, white 0%, rgb(255 255 255 / 80%) 35%, rgb(255 255 255 / 50%) 70%, rgb(255 255 255 / 10%) 100%);
    }
}

.c-custom-table {
    display: flex;
    position: relative;
    &:first-child {
        border-top: 0.5px solid rgba(61, 64, 67, 0.3);
        .c-column__shade {
            padding-top: 70px;
        }
    }
    .c-column {
        &__shade {
            font-size: 20px;
            font-weight: 600;
            line-height: 23px;
            color: rgba(61, 64, 67, 0.9);
            background: #EFF3FB;
            border-bottom: 0.5px solid rgba(61, 64, 67, 0.3);
            width: 300px;
            flex-shrink: 0;
            .c-column-item {
                padding: 13px 30px;
            }
        }
        &__plain {
            @extend .c-column__shade;
            padding: 0;
            border: none;
            background: none;
            .c-column-item {
                height: 50px;
                display: flex;
                align-items: center;
                padding: 0 30px;
                border-bottom: 0.5px solid rgba(61, 64, 67, 0.3);
                font-weight: 400;
            }
        }
        &__shadow {
            @extend .c-column__shade;
            padding: 0;
            border: none;
            background: #FFFFFF;
            box-shadow: 0px 4px 50px #E8EBF3;
            width: 240px;
            .c-column-item {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 30px;
                border-bottom: 0.5px solid rgba(61, 64, 67, 0.3);
                font-weight: 400;
            }
        }
    }
    &__content {
        table-layout: fixed;
        width: 100%;
        text-align: center;
        flex-grow: 0;
        border-spacing: 0;
    }
    &__data {
        border-bottom: 0.5px solid rgba(61, 64, 67, 0.3);
        max-width: 300px;
        padding: 13px 15px;
        text-align: center;
        &:first-child {
            background: linear-gradient(270deg, #e8e9eb40 0%, #ffffff5c 10%, #ffffff96 100%);
            width: 320px;
        }
        &:last-child {
            background: linear-gradient(90deg, #e8e9eb40 0%, #ffffff5c 10%, #ffffff96 100%);
        }
        &.logo {
            img {
                width: 154px;
            }
        }
        .c-column-item {
            display: flex;
            padding: 0 10px;
            align-items: center;
        }
        .text-plain {
            font-size: 20px;
            line-height: 24px;
            color: rgba(61, 64, 67, 0.9);
            font-weight: 400;
            margin-right: 13px;
        }
        .dropdown {
            position: relative;
            border: 0.5px solid rgba(61, 64, 67, 0.3);
            border-radius: 4px;
            font-size: 20px;
            font-weight: 600;
            line-height: 23px;
            color: rgba(61, 64, 67, 0.9);
            width: 188px;
            padding: 8px 10px;
            text-align: left;
        }
        .star-rating {
            width: 100%;
        }
    }
}

.c-table-row {
    width: 100%;
    text-align: center;
    td {
        padding: 8px;
    }
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    .show-more-btn {
        position: relative;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        display: inline-block;
        max-width: auto;
        font-family: 'calibre';
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            top: 5px;
            transform: rotate(45deg);
            right: -20px;
            display: inline-block;
            border-style: solid;
            border-color: #3265CB;
            border-width: 0px 2px 2px 0px;
        }
    }
}