.c-progress {
    display: block;
    width: 100%;
    height: 3px;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        height: 0;
        border-bottom: 1px solid rgba(61, 64, 67, 0.2);
        z-index: 2;
    }

    &__status {
        position: relative;
        z-index: 3;
        height: 3px;
        background-color: #3265CB;
    }
    
}

.c-progress-insurance {
    display: block;
    width: 352px;
    height: 3px;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
        height: 0;
        border-bottom: 1px solid rgba(61, 64, 67, 0.2);
        z-index: 2;
    }

    &__status {
        position: relative;
        z-index: 3;
        height: 3px;
        background-color: #3265CB;
    }
}