.c-scope {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: black;
    
    z-index: 100;
    user-select: none;
    outline: none !important;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }

    & * {
        outline: none !important; 
    }

    &__inner {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 8px 12px;
    }

    &__input {
        width: 20px;
        height: 20px;
        display: block;
        margin-right: 8px;
        cursor: pointer;
    }

    &__text {
        color: #FFF;
        font-weight: bold;
    }
}