.star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    .star {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #EFF3FB;
        margin-right: 6px;
        &:nth-last-child(1) {
            margin-right: 0;
        }
    }
    &.one-star {
        .star {
            &:nth-child(1) {
                background: rgba(50, 101, 203, 0.8);
            }
        }
    }
    &.two-star {
        .star {
            &:nth-child(-n+2) {
                background: rgba(50, 101, 203, 0.8);
            }
        }
    }
    &.three-star {
        .star {
            &:nth-child(-n+3) {
                background: rgba(50, 101, 203, 0.8);
            }
        }
    }
    &.four-star {
        .star {
            &:nth-child(-n+4) {
                background: rgba(50, 101, 203, 0.8);
            }
        }
    }
    &.five-star {
        .star {
            &:nth-child(n) {
                background: rgba(50, 101, 203, 0.8);
            }
        }
    }
}