.c-accordion {
    margin-bottom: 80px;
    &__item {
        margin-bottom: 15px;
        padding: 17px 40px;
        background: #ffffff;
        border: 1px solid #e6edf9;
        border-radius: 6px;
        &:last-child {
            margin-bottom: 0;
        }
        &.is-active {
            .c-accordion__title {
                color: #3265cb;
                &::before {
                    background-color: #3265cb;
                }
                &::after {
                    display: none;
                }
            }
            .c-accordion__content {
                display: block;
            }
        }
    }
    &__title {
        font-weight: 400;
        font-size: 26px;
        line-height: 64px;
        color: #3d4043;
        padding-right: 42px;
        position: relative;
        display: block;
        cursor: pointer;
        text-decoration: none;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 31px;
            right: 0;
            width: 12px;
            height: 2px;
            background-color: #3d4043;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 26px;
            right: 5px;
            width: 2px;
            height: 12px;
            background-color: #3d4043;
        }
    }
    &__content {
        display: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: rgba(61, 64, 67, 0.9);
    }
}

//podcast-accordion
.c-accordion-podcast {
    margin-top: 80px;
    margin-bottom: 80px;
    &__item {
        background: #EFF3FB;
        margin-bottom: 15px;
        padding-right: 40px;
        padding-bottom: 8px;
        border: 1px solid #e6edf9;
        border-radius: 6px;
        &:last-child {
            margin-bottom: 0;
        }
        &.is-active {
            .c-podcast-title-card__topic {
                color: #3265cb;
                &::before {
                    background-color: #3265cb;
                }
                &::after {
                    display: none;
                }
            }
            .c-accordion-podcast__content {
                display: block;
            }
            .c-accordion-podcast__audio {
                display: block;
            }
        }
    }
    &__title {
        // font-weight: normal;
        // font-size: 26px;
        // line-height: 64px;
        // color: #3d4043;
        padding-right: 42px;
        position: relative;
        display: block;
        cursor: pointer;
        text-decoration: none;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 31px;
            right: 0;
            width: 12px;
            height: 2px;
            background-color: #3d4043;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 26px;
            right: 5px;
            width: 2px;
            height: 12px;
            background-color: #3d4043;
        }
    }
    &__content {
        margin-left: 192px;
        margin-bottom: 30px;
        width: 832px;
        display: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: rgba(61, 64, 67, 0.9);
    }
    &__audio {
        margin-left: 192px;
        margin-bottom: 40px;
        background: #ffffff;
        width: 640px;
        height: 133.38px;
    }
}