.c-content {
    margin-bottom: 120px;
    &_main {
        margin-top: 165px;
    }
    &__inner {
        width: 1120px;
        margin: 0 auto;
    }
    &_panel-1 {
        background-image: url("assets/photo-1.jpg");
        background-position: center;
        background-size: cover;
        // min-height: 920px;
        padding: 120px 0;
    }
    &_panel-6 {
        background-image: url("assets/photo-5.jpg");
        background-position: center 0;
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 970px;
        margin-bottom: 0px;
        @media screen and (max-width:1440px) {
            background-size: cover;
            padding-bottom: 120px;
        }
    }
    &.c-photo-2 {
        background-image: url("assets/photo-2.jpg");
        background-position: center;
        background-size: cover;
        padding: 120px 0;
        min-height: 660px;
    }
    &_featured-resource {
        background-image: url("assets/featured-resource-bg.jpg");
        background-position: center;
        background-size: cover;
        min-height: 550px;
        margin-bottom: 100px;
    }
    &_testimonials {
        background-color: #3265cb;
        display: flex;
        height: 684px;
        @media screen and (max-width:1366px) {
            height: auto;
        }
        .c-content__left {
            flex: 1;
            text-align: right;
            img{
                height: 100%;
            }
        }
        .c-content__right {
            flex: 1;
            display: flex;
            align-items: center;
        }
    }
    &_form {
        display: flex;
        .c-content__left {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
        .c-content__right {
            flex: 1;
        }
        // list flow
    }
    &_accordion {
        background: #eff3fb;
        padding: 120px 0;
        margin-bottom: 0px;
        .c-section-title__main {
            margin-bottom: 80px;
        }
    }
    &_gray {
        background: #eff3fb;
        padding: 120px 0;
        .c-content__flex {
            display: flex;
            align-items: center;
        }
        .c-content__left {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
        .c-content__right {
            flex: 1;
        }
        &.mb-0 {
            margin-bottom: 0 !important;
        }
    }
    &_gray-2 {
        width: 100%;
        background: #eff3fb;
        margin-top: 120px;
        padding: 120px 0;
        &.pricing-section {
            padding-top: 85px;
            .c-list__item-title {
                line-height: 42px;
                font-size: 32px;
            }
        }
        .c-content__flex {
            display: flex;
            align-items: center;
            margin-bottom: 70px;
        }
        .c-content__left {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            &.img {
                margin: 0;
                padding: 0;
            }
        }
        .c-content__right {
            flex: 1;
            justify-content: center;
            padding-left: 128px;
        }
    }
    &_video {
        height: 660px;
        .o-video {
            width: 100%;
            height: 100%;
            &__content {
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
            &__overlay {
                width: 100%;
                height: 100%;
            }
            &.home__video {
                background-image: url('../../../assets/photo-2.jpg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    &_insurance {
        display: flex;
        width: 100%;
        margin-bottom: 100px;
        .c-content__left {
            flex: 43%;
            display: flex;
            justify-content: flex-end;
        }
        .c-content__right {
            flex: 57%;
            display: flex;
            justify-content: flex-start;
        }
    }
}

.list-flow {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 150px;
    background-image: url('../../../assets/list-flow-bg.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 400px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background: rgba(61, 64, 67, 0.5);
        height: 400px;
        width: 100%;
    }
    .c-content__left,
    .c-content__right {
        width: 100%;
        max-width: 671px;
        justify-content: center;
        z-index: 1;
        img {
            width: 100%;
        }
    }
    .c-content__left {
        .c-form-1__text {
            text-align: center;
        }
        .c-button_tall {
            width: 100%;
        }
    }
    .c-content__right {
        margin-bottom: 66px;
    }
}