.c-customer-title {
    max-width: 730px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.c-customer-bar {
    width: 100%;
    padding: 15px 0;
    overflow: hidden;
    &__inner {
        width: 2000px;
        display: flex;
        padding: 15px 0;
    }
    img {
        overflow: hidden;
        box-shadow: 0px 4px 50px rgba(61, 64, 67, 0.06);
        border-radius: 6px;
        margin-right: 30px;
        height: 120px;
        width: auto;
    }
}