//@jishnu
.c-insurance-section {
    width: 448px;
    padding-right: 32px;
    &__main-heading {
        font-weight: 600;
        font-size: 53px;
        line-height: 63px;
        padding-bottom: 15px;
    }
    &__main-content {
        width: 352px;
        margin-bottom: 35px;
        font-size: 20px;
        line-height: 28px;
        color: rgba(61, 64, 67, 0.9);
    }
    &__sub-heading {
        width: 315px;
        margin-top: 22px;
        margin-bottom: 28px;
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
        &.is-active {
            color: #3265CB;
        }
    }
    &__sub-content {
        width: 315px;
        margin-bottom: 23px;
        font-size: 20px;
        line-height: 28px;
        color: rgba(61, 64, 67, 0.9);
    }
}