.c-page-title {
    margin-bottom: 86px;
    &.mb-47 {
        margin-bottom: 47px;
    }
    &__main {
        text-align: center;
        font-size: 68px;
        line-height: 81px;
        font-weight: 600;
        color: #202125;
        margin-bottom: 24px;
    }
    &__sub {
        text-align: center;
        font-weight: 400;
        font-size: 26px;
        line-height: 42px;
        color: rgba(61, 64, 67, 0.9);
        max-width: 740px;
        margin: auto;
    }
    &__link {
        font-size: 32px;
        font-weight: 600;
        color: #3265cb;
        text-decoration: underline;
        cursor: pointer;
    }
    &__small {
        font-size: 32px;
        line-height: 42px;
        color: #3d4043;
        font-weight: 600;
    }
}

.c-section-title {
    &__main {
        text-align: center;
        font-weight: 600;
        font-size: 53px;
        line-height: 63px;
        margin-bottom: 30px;
        font-family: 'Calibre';
    }
    &__sub {
        text-align: center;
        font-weight: 400;
        font-weight: 400;
        font-size: 26px;
        line-height: 42px;
        color: rgba(61, 64, 67, 0.9);
        margin-bottom: 80px;
    }
}

.c-section-text {
    font-size: 26px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    color: rgba(61, 64, 67, 0.9);
    max-width: 736px;
    margin: auto;
    margin-bottom: 60px;
    &__small {
        font-size: 20px;
        line-height: 30px;
    }
}

.c-client-experience-title {
    &__main {
        margin-left: 160px;
        padding-top: 120px;
        margin-bottom: 15px;
        width: 928px;
        // height: 63px;
        font-weight: 600;
        font-size: 53px;
        line-height: 63px;
        color: #ffffff;
    }
    &__sub {
        margin-left: 160px;
        margin-bottom: 50px;
        width: 544px;
        height: 120px;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
    }
}

.c-articles-grid-title {
    height: 42px;
    font-family: Calibre;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: #3d4043;
}

.package-title {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgba(61, 64, 67, 0.8);
    &__line {
        width: 70px;
        &::after {
            content: "";
            position: absolute;
            width: 126px;
            height: 1px;
            right: 0;
            left: 100%;
            top: 18px;
            // transform: translateY(-50%);
            background-color: rgba(61, 64, 67, 0.8);
        }
    }
    &__blue {
        @extend .package-title,
        .package-title__line;
        color: #fff;
        &::after {
            background: #fff;
        }
    }
}