<!-- Footer -->
<div class="c-footer">
    <div class="c-footer__top">
        <div class="c-footer__top-inner">
            <div class="c-footer-title">
                <h2 class="c-footer-title__main">Ready to Get Started?</h2>
                <p class="c-footer-title__sub">Talk to a success team today and learn how CareStack can help your
                    business.
                </p>
                <button class="c-footer-title__button c-button c-button_primary c-button_tall">Book Free
                    Demo</button>
            </div>
            <div class="c-footer-list">
                <div class="c-footer-list__item">
                    <h2 class="c-footer-list__title">Software</h2>]
                    <ul class="c-footer-menu">
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Product Overview</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Comparison</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Customer stories</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Scheduling</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Treatment planning</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Patient engagement</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Insurance verification</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Billing and reimbursement</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Patient payments</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Analytics & Reporting</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Membership plans</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Staff Productivity</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Integrations</a>
                        </li>
                    </ul>
                </div>
                <div class="c-footer-list__item">
                    <h2 class="c-footer-list__title">Solutions</h2>
                    <ul class="c-footer-menu">
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Product Overview</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Private practices</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Groups and DSO’s </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Dental startups</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Simplify operations </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Streamline care delivery </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Elevate patient experience </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Maximize insurance billing</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Optimize practice performance </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Centralize operations </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Front office </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Clinical </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Billing</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Office manager</a>
                        </li>
                    </ul>
                </div>
                <div class="c-footer-list__item">
                    <h2 class="c-footer-list__title">Support </h2>
                    <ul class="c-footer-menu">
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Data conversion</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Training</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Support </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Revenue cycle management </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> New patient marketing </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Success coaching</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> CareStack champions </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Business skills academy</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Partner ecosystem</a>
                        </li>
                    </ul>
                </div>
                <div class="c-footer-list__item">
                    <h2 class="c-footer-list__title">Resources</h2>
                    <ul class="c-footer-menu">
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Webinars </a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link">Podcasts</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Articles</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> How To Guides</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Be an ambassadors</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Join our events</a>
                        </li>
                        <li class="c-footer-menu__item">
                            <a class="c-footer-menu__link"> Refer customers</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="c-footer__bottom">
        <div class="c-footer__bottom-inner">
            <ul class="c-site-details">
                <li class="c-site-details__item">• Terms of use</li>
                <li class="c-site-details__item">• Privacy policy</li>
                <li class="c-site-details__item">• Do not sell my information</li>
            </ul>
            <div class="c-copyright">Copyright © Good Methods Global Inc. All rights reserved.</div>
            <ul class="c-social">
                <li class="c-social__item">
                    <a class="c-social__link c-icon_twitter"></a>
                </li>
                <li class="c-social__item">
                    <a class="c-social__link c-icon_linkedin"></a>
                </li>
                <li class="c-social__item">
                    <a class="c-social__link c-icon_instagram"></a>
                </li>
                <li class="c-social__item">
                    <a class="c-social__link c-icon_facebook"></a>
                </li>
                <li class="c-social__item">
                    <a class="c-social__link c-icon_youtube"></a>
                </li>
                <li class="c-social__item">
                    <a class="c-social__link c-icon_vimeo"></a>
                </li>
            </ul>

        </div>
    </div>
</div>