<!-- Header -->
<div class="c-header js-header">
    <div class="c-header__inner">
        <a class="c-logo"></a>
        <ul class="c-main-menu">
            <li class="c-main-menu__item">
                <a class="c-main-menu__link c-main-menu__link--has-dropdown">Software</a>
            </li>
            <li class="c-main-menu__item">
                <a class="c-main-menu__link c-main-menu__link--has-dropdown">Solutions</a>
            </li>
            <li class="c-main-menu__item">
                <a class="c-main-menu__link c-main-menu__link--has-dropdown">Support</a>
            </li>
            <li class="c-main-menu__item">
                <a class="c-main-menu__link c-main-menu__link--has-dropdown">Resources</a>
            </li>
            <li class="c-main-menu__item">
                <a class="c-main-menu__link c-main-menu__link--has-dropdown">Careers</a>
            </li>
        </ul>
        <a class="c-phone-number">(407) 833-6123</a>
        <button class="c-button c-button_primary">Book Free Demo</button>
    </div>
</div>