@import "flex";
@import "spacing";
.u-margin-bottom-22 {
    margin-bottom: 22px !important;
}

.u-margin-bottom-40,
.u-margin-spacingbottom-40 {
    margin-bottom: 40px !important;
}

.u-margin-bottom-50 {
    margin-bottom: 50px !important;
}

.u-margin-bottom-58 {
    margin-bottom: 58px !important;
}

.u-margin-bottom-60 {
    margin-bottom: 60px !important;
}

.u-margin-bottom-75 {
    margin-bottom: 60px !important;
}

.u-margin-bottom-100 {
    margin-bottom: 100px !important;
}

.u-margin-bottom-30 {
    margin-bottom: 30px;
}

.u-margin-vertical-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.u-underline {
    text-decoration: underline;
}