.u-flex {
    display: flex;
    &__align-items_start {
        align-items: flex-start;
    }
    &__align-items_center {
        align-items: center;
    }
    &__align-items_end {
        align-items: flex-end;
    }
    &__justify-content-center {
        justify-content: center;
    }
    &__justify-content_space-between {
        justify-content: space-between;
    }
    &__direction-row-reverse {
        flex-direction: row-reverse;
    }
}