*,*::before,*::after{
box-sizing: border-box;
    }


// img{
//     width: 100%;
// }

html, body, ul, ol, li {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

input {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}