.c-footer {

    &__top {
        background-color: #3D4043;
    }

    &__top-inner {
        width: 1120px;
        margin: 0 auto;
        padding: 80px 0;
    }

    &__bottom {
        background-color: #FFF;
    }

    &__bottom-inner {
        width: 1120px;
        margin: 0 auto;
        height: 92px;
        display: flex;
        align-items: center;
    }
}