.c-footer-title {
  border-bottom: 1px solid #505962;
  margin-bottom: 40px;
  position: relative;

  &__main {
    font-weight: 600;
    font-size: 53px;
    line-height: 63px;
    color: #F1F2F4;
    margin-bottom: 15px;
  }

  &__sub {
    font-size: 26px;
    line-height: 31px;
    color: #C7CCD1;
    margin-bottom: 40px;
  }

  &__button {
      position: absolute;
      top: 10px;
      right: 0;
  }
}
