.c-footer-menu {

    &__item {
        margin-bottom: 10px;
    }

    &__link {
        font-size: 16px;
        line-height: 18px;

        color: #C7CCD1;
        cursor: pointer;
        text-decoration: none;
    }
}