.c-footer-list {
  padding-top: 30px;
  display: flex;

  &__item {
    flex: 1;
    min-width: 0;
  }

  &__title {
    margin-bottom: 30px;
    color: #f1f2f4;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}
