.c-social {
    margin-left: auto;
    display: flex;
    align-items: center;


    &__item {
        margin-left: 10px;
    }

    &__link {
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }
}

.c-icon {

    &_twitter {
        background-image: url('assets/twitter.svg');
    }
    &_linkedin {
        background-image: url('assets/linkedin.svg');
    }
    &_instagram {
        background-image: url('assets/instagram.svg');
    }
    &_facebook {
        background-image: url('assets/facebook.svg');
    }
    &_youtube {
        background-image: url('assets/youtube.svg');
    }
    &_vimeo {
        background-image: url('assets/vimeo.svg');
    }
}