.c-card-pain {
    width: 100%;
    max-width: 640px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px #E8EBF3;
    border-radius: 10px;
}

.c-card-sub-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    color: #3D4043;
    margin-bottom: 20px;
    &--list-head {
        margin-bottom: 30px;
    }
}

.c-card-sub-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(61, 64, 67, 0.9);
    max-width: 352px;
}

.c-price-card {
    font-family: 'Calibre', sans-serif;
    width: 256px;
    border-radius: 6px;
    box-shadow: 0px 4px 50px #E8EBF3;
    padding: 30px;
    min-height: 380px;
    background: #fff;
    box-sizing: border-box;
    &__digit {
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: rgba(61, 64, 67, 0.8);
        sup {
            font-size: 41px;
            line-height: 48px;
            font-weight: 600;
            color: #3D4043;
            position: relative;
            margin-right: 8px;
        }
        .bold-text {
            font-size: 62px;
            line-height: 96px;
            font-weight: 600;
            color: #3D4043;
        }
        &__blue {
            @extend .c-price-card__digit;
            color: #fff;
            sup,
            .bold-text {
                color: #fff;
            }
        }
    }
    .pricing-card-label {
        background: #EFF3FB;
        color: #3D4043;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: end;
        justify-content: center;
        height: 30px;
        line-height: 24px;
        font-family: 'Calibre';
        width: 134px;
        margin: auto;
        border-radius: 100px;
        margin-bottom: 27px;
        &__blue {
            @extend .pricing-card-label;
            color: #3265CB;
        }
    }
    &.blue-card {
        position: relative;
        background: #3265CB;
    }
}

.badge-lg {
    position: absolute;
    width: 100px;
    height: 100px;
    right: -50px;
    top: -50px;
    background-image: url('../../../assets/Star-yellow.svg');
    background-position: center center;
    font-family: 'Calibre', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-10deg);
    &__digit {
        font-size: 32px;
        line-height: 32px;
        font-weight: 600;
    }
    &__text {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
    }
}

.c-price-card-list {
    padding: 0;
    &__item {
        position: relative;
        padding-left: 33px;
        font-size: 16px;
        font-weight: 400;
        color: #3D4043;
        margin-bottom: 15px;
        &:nth-last-child(1) {
            margin-bottom: 6px;
        }
        &::before {
            content: url('../../../assets/tick-hexagonal-blue-bg.svg');
            position: absolute;
            left: 0;
            top: -2px;
            display: inline-block;
        }
        &__blue {
            @extend .c-price-card-list,
            .c-price-card-list__item;
            color: #fff;
            &::before {
                content: url('../../../assets/tick-hexagonal-white-bg.svg');
            }
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }
    }
}