.c-panel-list-4 {
  display: flex;
  column-gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 100px;

  &__item {
    width: calc((100% - 64px) / 3);
    position: relative;
  }

  &__title {
    padding-left: 110px;
    margin-bottom: 10px;
    background-image: url("/assets/panels/panel-list-2-image.svg");
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    align-items: center;
    height: 80px;
    font-weight: 600;
    font-size: 26px;
  }

  &__text {
    font-size: 20px;
    line-height: 28px;
  }
}
