.c-panel-list-2 {
    display: flex;
    row-gap: 62px;
    column-gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    &__item {
        width: calc((100% - 64px) / 3);
        position: relative;
    }
    &__badge {
        position: absolute;
        top: -18px;
        left: 110px;
        background: #3265cb;
        border-radius: 100px;
        font-size: 16px;
        color: #fff;
        line-height: 24px;
        padding: 0 12px;
    }
    &__title {
        padding-left: 110px;
        margin-bottom: 10px;
        background-image: url("/assets/panels/panel-list-2-image.svg");
        background-repeat: no-repeat;
        background-position: left center;
        display: flex;
        align-items: center;
        height: 80px;
        &--text {
            font-weight: 600;
            font-size: 26px;
            line-height: 32px;
            color: #3D4043;
            max-width: 178px;
        }
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
    }
}