.c-panel-3 {
    background: #ffffff;
    border: 1px solid #DBDCE0;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 10px 10px 0 #f5f5f5;
    overflow: hidden;
    min-width: 300px;
    @media screen and (max-width:1440px) {
        min-width: 200px;
    }
    &__image {
        width: 100%;
        min-height: 200px;
        background: #DBDCE0;
        img {
            width: 100%;
            height: 100%;
            min-height: 200px;
            display: block;
        }
    }
    &__content {
        padding: 30px 23px;
    }
    &__title {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 15px;
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
        color: rgba(61, 64, 67, 0.9);
        margin-bottom: 15px;
    }
    .c-link {
        display: inline-block;
        margin-top: 15px;
        &--right-arrow {
            background-position: right 10px;
        }
    }
}