.c-panel-list-6 {
  padding-bottom: 30px;
  
  &__item {
    
    width: 448px;
    background: #ffffff;
    opacity: 0.95;
    box-shadow: 0px 4px 50px rgba(61, 64, 67, 0.1);
    border-radius: 6px;
    padding-left: 96px;
    padding-bottom: 30px;
    background-image: url(/assets/app-image.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 64px;
    background-position-y: 39px;
    margin-bottom: 15px;
    margin-left: 160px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    width: 320px;
    padding: 0px 64px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 5px;
    
  }

  &__text {
    width: 320px;
    padding: 0px 64px;
    font-size: 20px;
    line-height: 28px;
    
  }
}
