.c-panel-5 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    &__image {
        width: 312px;
        height: 200px;
        background: #dbdce0;
        border-radius: 6px;
        box-shadow: 10px 10px 0 #F5F5F5;
        margin-bottom: 40px;
        img {
            width: 312px;
            height: 200px;
            background: #dbdce0;
            display: block;
        }
        &.shadow {
            position: relative;
            box-shadow: none;
            &::before {
                content: "";
                position: absolute;
                content: "";
                width: 100%;
                height: calc(100% - 40px);
                box-shadow: 0px 0px 0 20px #EFF3FB;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: 1px;
                border-collapse: collapse;
            }
        }
    }
    &__title {
        font-weight: 600;
        font-size: 26px;
        align-items: center;
        text-align: center;
        line-height: 31px;
        margin-bottom: 15px;
    }
    &__text {
        width: 300px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: rgba(61, 64, 67, 0.9);
        // margin-bottom: 15px;
    }
}