.c-panel-1 {
    box-sizing: border-box;
    padding: 60px 90px;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(61, 64, 67, 0.1);
    border-radius: 10px;
    width: 640px;
    &__title {
        font-weight: 600;
        font-size: 53px;
        line-height: 63px;
        margin-bottom: 40px;
    }
}

.c-panel-list-1 {
    &__item {
        padding-left: 96px;
        background-image: url(/assets/app-image.svg);
        background-repeat: no-repeat;
        background-position: top 10px left;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 5px;
    }
    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }
}