.c-panel-2 {
    background: #ffffff;
    border: 1px solid #dbdce0;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: strettch;
    justify-content: space-between;
    box-shadow: 10px 10px 0 #F5F5F5;
    &__top {
        padding: 40px 40px 30px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__image {
        margin-bottom: 15px;
    }
    &__title {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
        color: rgba(61, 64, 67, 0.9);
        text-align: center;
    }
    &__bottom {
        border-top: 1px solid #dbdce0;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}