.c-field-input {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px; 
    padding: 12px 20px; 
    font-size: 20px;
    line-height: 24px;
    color: rgba(61, 64, 67, 0.6);
    width: 100%;
    display: block;
}