.c-form-1 {
    width: 562px;
    &__header {
        margin-bottom: 40px;
    }
    &__title {
        font-weight: 600;
        font-size: 53px;
        line-height: 63px;
        margin-bottom: 15px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(61, 64, 67, 0.9);
    }
    &__sub-text {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: rgba(61, 64, 67, 0.8);
    }
    &__field-wrapper-container {
        margin-bottom: 40px;
    }
    &__field-wrapper {
        margin-bottom: 15px;
    }
    &__radio-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__radio {
        max-width: 160px;
        display: flex;
        cursor: pointer;
        input {
            width: 20px;
            height: 20px;
            margin: 0;
            margin-right: 20px;
            margin-top: 3px;
        }
        span {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: rgba(61, 64, 67, 0.9);
        }
    }
    &__button-group {
        margin-bottom: 25px;
        display: flex;
    }
}