.c-card-1 {
    display: flex;
    column-gap: 32px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    &__box {
        width: 352px;
        position: relative;
        background-color: #eff3fb;
        padding-bottom: 50px;
    }
    &__badge {
        padding: 3px 16.5px;
        background-color: #3265cb;
        border-radius: 50px;
        margin-left: 40px;
        margin-top: 50px;
        margin-bottom: 15px;
        display: inline-block; 
        height: 30px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #ffffff;
    }
    &__title {
        padding: 0 40px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        height: 36px;
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
    }
    &__text {
        padding: 0 40px;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 28px;
        color: rgba(61, 64, 67, 0.9);
    }
    &__list {
        list-style: none;
        margin-bottom: 15px;
        padding: 0 40px;
    }
    &__item {
        padding-left: 40px;
        background-image: url("/assets/list/list-icon.svg");
        background-repeat: no-repeat;
        background-position: left center;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        color: #3D4043;
        margin-bottom: 15px;
    }
}