.c-card-2 {
    background: #ffffff;
    border: 1px solid #DBDCE0;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 10px 10px 0 #f5f5f5;
    overflow: hidden;
    &__image {
        width: 100%;
        min-height: 220px;
        background: #DBDCE0;
        height: 220px;
        img {
            width: 100%;
            height: 100%;
            min-height: 200px;
            display: block;
        }
    }
    &__content {
        padding: 30px 30px 30px 23px;
    }
    &__title {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 10px;
        &__white {
            font-size: 32px;
            font-weight: 600;
            line-height: 42px;
            color: #fff;
            margin-bottom: 20px;
        }
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
        color: rgba(61, 64, 67, 0.9);
        font-weight: 400;
        &__white {
            font-size: 20px;
            line-height: 28px;
            font-weight: 400;
            color: #fff;
        }
    }
    .c-link {
        display: inline-block;
        margin-top: 15px;
    }
}

// rectangle cards
.c-card-rectangle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
    &__tile {
        border: 1px solid #DBDCE0;
        box-sizing: border-box;
        border-radius: 6px;
        box-shadow: 10px 10px 0 #f5f5f5;
        padding: 30px 30px 30px 30px;
        flex: none;
        width: 352px;
        .c-panel-2__text {
            text-align: left;
        }
    }
    &__header {
        font-size: 20px;
        line-height: 23px;
        font-weight: 600;
        color: #3265CB;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(61, 64, 67, 0.4);
    }
}