.c-card-3 {
  background-color: #3265cb;
  display: flex;

  .c-content__left {
    flex: 1;
    text-align: right;
  }

  .c-content__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
