.c-podcast-title-card {
    // width: 738.26px;
    height: 153.86px;
    margin-left: 8px;
    // vertical-align: center;
    background-image: url("assets/podcast-image.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 146px;
    &__topic {
        vertical-align: center;
        padding-top: 40px;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        padding-left: 184px;
        margin-bottom: 10px;
    }
    &__speaker {
        vertical-align: center;
        padding-left: 184px;
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 28px;
        color: rgba(61, 64, 67, 0.9);
        &--bold {
            font-weight: 600;
        }
    }
}

.c-podcast-audio-card {
    width: 640px;
    height: 133.38px;
    background: url("assets/audio-podcast.png");
}