.poster {
    width: 100%;
    height: 360px;
    position: relative;
    overflow: hidden;
    background-image: url('../../../assets/poster-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(103.53deg, rgba(61, 64, 67, 0.9) 9.81%, rgba(196, 196, 196, 0) 75.31%);
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__label {
        width: 240px;
        height: 40px;
        background: #F2B04C;
        box-shadow: 0px 4px 15px rgba(61, 64, 67, 0.25);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #fff;
        font-family: 'Calibre', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transform: rotate(-45deg);
        top: 35px;
        left: -70px;
    }
    &__play {
        width: 80px;
        height: 80px;
        background: rgba(255, 255, 255, 0.15);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        font-family: 'Calibre', sans-serif;
        color: #fff;
    }
    &__title-bold {
        @extend .poster__title;
        font-size: 26px;
        line-height: 26px;
        font-weight: 600;
    }
    .acadamy-label {
        margin-right: 20px;
    }
    .content-wrapper {
        position: relative;
        z-index: 1;
        height: 100%;
    }
    .content-box {
        position: absolute;
        left: 100px;
        top: 72px;
    }
}