<!-- Health Check -->
<div class="c-scope">
    <label class="c-scope__inner">
        <input class="c-scope__input js-scope" type="checkbox">
        <span class="c-scope__text">Health Check</span>
    </label>
</div>
<script>
    // Header Show / Hide
    var lastScrollTop = 0;
    const header = document.querySelector(".js-header");
    window.addEventListener(
        "scroll",
        () => {
            const st = window.pageYOffset || document.documentElement.scrollTop;
            if (st > lastScrollTop + 60) {
                header.classList.add("is-hidden");
                lastScrollTop = st <= 0 ? 0 : st;
            } else if (st < lastScrollTop - 60) {
                header.classList.remove("is-hidden");
                lastScrollTop = st <= 0 ? 0 : st;
            }
        },
        false
    );

    // Health Check
    const html = document.querySelector("html");
    const scope = document.querySelector(".js-scope");
    scope.addEventListener("change", (event) => {
        if (event.currentTarget.checked) {
            html.classList.add("s-health-check");
        } else {
            html.classList.remove("s-health-check");
        }
    });

</script>
</body>

</html>