<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Dental Software for Business Success | CareStack</title>
    <!-- styles -->
    <link rel="stylesheet" href="style.css">
</head>

<body>