.c-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;   
    background-color: #FFFFFF;
    box-shadow: 0px 3px 16px rgba(32, 33, 37, 0.06);
    transition: transform 0.3s ease;
    z-index: 2;

    &.is-hidden {
        transform: translate(0, -80px);
    }

    &__inner {
        width: 1120px;
        height: 72px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}