.c-logo {
    display: block;
    width: 200px;
    height: 30px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-image: url('/assets/logo.svg');
}