.c-main-menu {
  display: flex;
  align-items: center;
  margin-left: 44px;

  &__item {
    padding: 0;
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    font-family: 'calibre';
    color: #3D4043;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    padding: 0 12px;
    cursor: pointer;

    &--has-dropdown {
      background-image: url("../../../assets/down-arrow-black.svg");
      background-repeat: no-repeat;
      background-position: 100% 53%;
    }
  }
  // &__dropdown {
  //   //to add a drop-down arrow
  //   width: 20px;
  //   height: 20px;
  //   padding: 5px;
  //   background-image: url("../../../assets/down-arrow-black.svg");
  //   background-repeat: no-repeat;
  //   background-position: center center;
  // }
}
