.c-mega-menu {
  $self: &;

  position: fixed;
  z-index: 1;
  width: 100%;
  top: 72px;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(32, 33, 37, 0.1);

  &__container {
    border-bottom: 1px solid rgba(61, 64, 67, 0.2);
  }

  &__flex {
    width: 1120px;
    margin: 0 auto;
    display: flex;

    #{$self}__content {
      flex: 3;
      min-width: 0;
      padding: 40px 30px 40px 0;
    }

    #{$self}__aside {
      flex: 1;
      min-width: 0;
      background: #eff3fb;
      padding: 40px 30px;
    }
  }

  &__footer {
    width: 1120px;
    margin: 0 auto;
    padding: 13px 0;
  }

  &__button {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    color: #3265cb;
    text-decoration: none !important;
    cursor: pointer;
  }
}

.c-mega-content {
  display: flex;

  &__single {
    flex: 1;
    min-width: 0;
    //delete if it is not required
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__double {
    flex: 2;
    min-width: 0;
    margin-left: 30px;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(61, 64, 67, 0.2);
    margin-bottom: 15px;
  }
  &__text {
    font-family: "Copyright Klim Type Foundry";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */

    color: rgba(61, 64, 67, 0.9);
    margin-bottom: 20px;
  }
  &__list {
    margin-bottom: 40px;
  }
  &__item {
    padding-left: 35px;
    background-image: url("assets/list/list-icon-2.svg");
    background-repeat: no-repeat;
    font-family: "Calibre";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    vertical-align: middle;
    color: #3d4043;
    margin-bottom: 15px;
  } 
  &__button {
    display: block;
    background: rgba(239, 243, 251, 0.7);
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    padding: 10px;
    text-align: center;
    color: #3d4043;
    text-decoration: none;
  }
}

.c-mega-list {
  margin-bottom: 25px;

  &.c-mega-list_double {
    display: flex;
    flex-wrap: wrap;

    .c-mega-list__item {
      width: 50%;
    }
  }

  &__item {
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(239, 243, 251, 0.7);
    }
  }

  &__button {
    display: block;
    height: 88px;
    overflow: hidden;
    padding: 10px 10px 10px 45px;
    background-image: url("/assets/mega-menu/mega-list-icon.svg");
    background-repeat: no-repeat;
    background-position: top 10px left 10px;
    cursor: pointer;
    text-decoration: none !important;
  }

  &__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
    color: #3d4043 !important;
  }

  &__description {
    font-size: 16px;
    line-height: 22px;
    color: rgba(61, 64, 67, 0.8);
  }
}
.c-explore-btn {
  width: 140px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eff3fb;
  border-radius: 4px;
  cursor: pointer;
  &__text {
    padding-right: 10px;
    padding-bottom: 4px;
    font-family: "Copyright Klim Type Foundry";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  }
  &__arrow {
    width: 20px;
    height: 20px;
    background-image: url("assets/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
