<%- include('partials/head') %>
    <%- include('partials/common/header') %>

        <!-- Content - Main -->
        <div class="c-content c-content_main">
            <div class="c-content__inner">
                <div class="c-page-title">
                    <h1 class="c-page-title__main ">Elevate Patient Experience</h1>
                    <h3 class="c-page-title__sub">
                        Complete dental software designed to meet the unique needs of <br> independent dental practices.
                    </h3>
                </div>
                <img class="o-hero-image" src="assets/image-1.png" alt="">
                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>
        </div>
        <!-- Content shade --->
        <div class="c-content c-content_gray-2">
            <div class="c-section-title">
                <h1 class="c-section-title__main ">Make it easy to engage prior to the visit </h1>
                <h3 class="c-section-title__sub u-margin-bottom-40">Complete dental software designed to meet the unique needs of <br> independent dental practices.
                </h3>
            </div>
            <div class="c-content__flex">
                <div class="c-content__left">
                    <img src="/assets/image-3.png" alt="">
                </div>
                <div class="c-content__right">
                    <div class="h2 c-list__header">Online Scheduling
                    </div>
                    <ul class="c-list__wrapper">
                        <li class="c-list__item top-align no-mark ">
                            <!-- <p class="c-list__item-title">Online Scheduling</p> -->
                            <span>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor
                                <br> incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam.</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="c-button-group c-button-group_center">
                <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
            </div>
        </div>

        <!--Content - "cards"-->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">Eliminate hassles during the visit</h1>
                    <h3 class="c-section-title__sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        <br> tempor incididunt ut labore et dolore magna aliqua.
                    </h3>
                </div>
                <div class="o-grid o-grid_3-column u-margin-bottom-100">
                    <div class="o-grid__item--mid c-panel-5">
                        <div class="c-panel-5__image shadow">
                            <!-- <img src="" alt=""> -->
                        </div>
                        <div class="c-panel-5__title">Reminders, Confirmations and <br> Follow-ups </div>
                        <div class="c-panel-5__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quae officiis dicta.</div>

                    </div>
                    <div class="o-grid__item--mid c-panel-5">
                        <div class="c-panel-5__image shadow">
                            <!-- <img src="" alt=""> -->
                        </div>
                        <div class="c-panel-5__title">Patient referrals</div>
                        <div class="c-panel-5__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quae officiis dicta.</div>

                    </div>
                    <div class="o-grid__item--mid c-panel-5">
                        <div class="c-panel-5__image shadow">
                            <!-- <img src="" alt=""> -->
                        </div>
                        <div class="c-panel-5__title">Integrated phone</div>
                        <div class="c-panel-5__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quae officiis dicta.</div>

                    </div>
                </div>
                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>

        </div>

        <!-- zic zac cards section -->
        <div class="c-content__inner">
            <div class="c-content">
                <h2 class="c-section-title__main ">Stay connected post the visit</h2>
                <p class="c-section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

                <div class="card-section-container">
                    <div class="card-section u-flex u-flex__align-items_center column-gap-128 mb-100">
                        <div class="c-card-pain"></div>
                        <div class="c-card-content">
                            <h2 class="c-card-sub-title">Integrations with existing operational systems</h2>
                            <p class="c-card-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>

                    <div class="card-section u-flex u-flex__align-items_center column-gap-128 mb-100 u-flex__direction-row-reverse">
                        <div class="c-card-pain"></div>
                        <div class="c-card-content">
                            <div class="c-card-content">
                                <h2 class="c-card-sub-title">Integrations with existing operational systems</h2>
                                <p class="c-card-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="card-section u-flex u-flex__align-items_center column-gap-128 mb-100">
                        <div class="c-card-pain"></div>
                        <div class="c-card-content">
                            <h2 class="c-card-sub-title">Integrations with existing operational systems</h2>
                            <p class="c-card-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- carousel section -->
        <div class="c-content c-content_testimonials">
            <div class="c-content__left">
                <img src="assets/photo-4.jpg" alt="">
            </div>
            <div class="c-content__right">
                <div class="c-testimonial">
                    <div class="c-testimonial__top">
                        <p class="c-testimonial__text">Switching to CareStack has given us 30% increase in collections without even adding a new team member!</p>
                        <p class="c-testimonial__name">Dr. Haranchal Bains</p>
                        <p class="c-testimonial__designation">CEO, Element Dental</p>
                    </div>
                    <div class="c-testimonial__bottom">
                        <a href="" class="c-testimonial__left"></a>
                        <a href="" class="c-testimonial__right"></a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Content -->
        <div class="c-content c-content_form">
            <div class="c-content__left">
                <div class="c-form-1">
                    <div class="c-form-1__header">
                        <h2 class="c-form-1__title">Schedule Your Free Demo</h2>
                        <p class="c-form-1__text">We’ll reach out within 24 hours to schedule your demo.</p>
                    </div>
                    <div class="c-form-1__field-wrapper-container">
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="First and Last Name">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Designation">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Email">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Phone Number">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Practice Name">
                        </div>
                    </div>
                    <h2 class="c-form-1__subtitle">Which best describes you?</h2>
                    <div class="c-form-1__radio-group">
                        <label class="c-form-1__radio">
                            <input type="radio" name="radio" >
                            <span>Private Practices</span>
                        </label>
                        <label class="c-form-1__radio">
                            <input type="radio" name="radio">
                            <span>Groups And DSO’s</span>
                        </label>
                        <label class="c-form-1__radio">
                            <input type="radio" name="radio">
                            <span>Dental Startups</span>
                        </label>
                    </div>
                    <div class="c-form-1__button-group">
                        <a class="c-button c-button_primary c-button_tall">Submit</a>
                    </div>
                    <p class="c-form-1__sub-text">By requesting a demo, you agree to receive automated text messages from CareStack. We’ll handle your info according to our
                        <a href="#" class="link__text">privacy statement</a>.</p>
                </div>
            </div>
            <div class="c-content__right">
                <img src="assets/image-2.png" alt="">
            </div>
        </div>

        <!-- Recommended Resources (cards) -->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="c-section-title u-margin-bottom-50">
                    <h1 class="c-section-title__main ">Recommended Resources For You</h1>
                </div>
                <div class="o-grid o-grid_3-column">
                    <div class="o-grid__item c-panel-3">
                        <div class="c-panel-3__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-3__content">
                            <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                            <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                            <a href="" class="c-link c-link--right-arrow">Learn More</a>
                        </div>

                    </div>
                    <div class="o-grid__item c-panel-3">
                        <div class="c-panel-3__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-3__content">
                            <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                            <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                            <a href="" class="c-link c-link--right-arrow">Learn More</a>
                        </div>
                    </div>
                    <div class="o-grid__item c-panel-3">
                        <div class="c-panel-3__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-3__content">
                            <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                            <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                            <a href="" class="c-link c-link--right-arrow">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/common/footer') %>
            <%- include('partials/foot') %>