<%- include('partials/head') %>
    <%- include('partials/common/header') %>
        <!-- Content - Main -->
        <div class="c-content c-content_main u-margin-bottom-75">
            <div class="c-content__inner">
                <div class="c-page-title">
                    <h1 class="c-page-title__main ">Learn</h1>
                    <h3 class="c-page-title__sub">
                        Completre dental software designed to meet the unique needs of <br> independent dental practices.
                    </h3>
                </div>
                <ul class="c-resources-menu">
                    <li class="c-resources-menu__item"><a href="" class="c-resources-menu__link">E book</a></li>
                    <li class="c-resources-menu__item"><a href="" class="c-resources-menu__link">Webinar</a></li>
                    <li class="c-resources-menu__item"><a href="" class="c-resources-menu__link">Podcasts</a></li>
                    <li class="c-resources-menu__item"><a href="" class="c-resources-menu__link">Articles</a></li>
                </ul>
            </div>
        </div>

        <!--Content - Panel-->
        <div class="c-content c-content_featured-resource">
            <div class="c-featured-podcast">
                <h3 class="c-featured-podcast__badge">Featured Podcast</h3>
                <h1 class="c-featured-podcast__title">Out With The Old And In <br> With The New</h1>
                <h3 class="c-featured-podcast__info">Speaker: <span class="c-featured-podcast__info--bold">Camille Jones</span>, Operations Manager, Smyrna Dental</h3>
                <div class="c-featured-podcast__audio">

                </div>
            </div>
        </div>
        <!--Content -->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="u-flex u-flex__justify-content_space-between">
                    <div class="c-articles-grid-title">
                        All Podcasts
                    </div>
                    <div class="c-button-group">
                        <buttom class="c-drop-btn">Filter by type</buttom>
                    </div>
                </div>
                <div class="c-progress"></div>

                <!--Accordion-->
                <div class="c-accordion-podcast">

                    <div class="c-accordion-podcast__item is-active">
                        <a class="c-accordion-podcast__title">
                            <div class="c-podcast-title-card">

                                <h1 class="c-podcast-title-card__topic">Out With The Old And In With The New</h1>
                                <h3 class="c-podcast-title-card__speaker">Guest Speaker: Ryan Arnold, Principal, Wisdom Teeth Guys </h3>
                            </div>
                        </a>
                        <div class="c-accordion-podcast__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque at culpa dignissimos, id ratione harum quasi quia quo nulla. Adipisci?</div>
                        <div class="c-accordion-podcast__audio">
                            <div class="c-podcast-audio-card">

                            </div>
                        </div>
                    </div>

                    <div class="c-accordion-podcast__item">
                        <a class="c-accordion-podcast__title">

                            <div class="c-podcast-title-card">
                                <h1 class="c-podcast-title-card__topic">Out With The Old And In With The New</h1>
                                <h3 class="c-podcast-title-card__speaker">Guest Speaker: Ryan Arnold, Principal, Wisdom Teeth Guys </h3>
                            </div>
                        </a>
                    </div>

                    <div class="c-accordion-podcast__item">
                        <a class="c-accordion-podcast__title">
                            <div class="c-podcast-title-card">
                                <h1 class="c-podcast-title-card__topic">Out With The Old And In With The New</h1>
                                <h3 class="c-podcast-title-card__speaker">Guest Speaker: Ryan Arnold, Principal, Wisdom Teeth Guys </h3>
                            </div>
                        </a>
                    </div>


                    <div class="c-accordion-podcast__item">
                        <a class="c-accordion-podcast__title">
                            <div class="c-podcast-title-card">
                                <h1 class="c-podcast-title-card__topic">Out With The Old And In With The New</h1>
                                <h3 class="c-podcast-title-card__speaker">Guest Speaker: Ryan Arnold, Principal, Wisdom Teeth Guys </h3>
                            </div>
                        </a>
                    </div>

                    <div class="c-accordion-podcast__item">
                        <a class="c-accordion-podcast__title">
                            <div class="c-podcast-title-card">
                                <h1 class="c-podcast-title-card__topic">Out With The Old And In With The New</h1>
                                <h3 class="c-podcast-title-card__speaker">Guest Speaker: Ryan Arnold, Principal, Wisdom Teeth Guys </h3>
                            </div>
                        </a>
                    </div>

                    <div class="c-accordion-podcast__item">
                        <a class="c-accordion-podcast__title">
                            <div class="c-podcast-title-card">
                                <h1 class="c-podcast-title-card__topic">Out With The Old And In With The New</h1>
                                <h3 class="c-podcast-title-card__speaker">Guest Speaker: Ryan Arnold, Principal, Wisdom Teeth Guys </h3>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="c-button-group c-button-group_center">
                    <a href="" class="c-link c-link c-link--down-arrow">Load More</a>
                </div>

            </div>
        </div>
        <!-- Content -->
        <div class="c-content c-content_form">
            <div class="c-content__left">
                <div class="c-form-1">
                    <div class="c-form-1__header">
                        <h2 class="c-form-1__title">Schedule Your Free Demo</h2>
                        <p class="c-form-1__text">We’ll reach out within 24 hours to schedule your demo.</p>
                    </div>
                    <div class="c-form-1__field-wrapper-container">
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="First and Last Name">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Designation">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Email">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Phone Number">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Practice Name">
                        </div>
                    </div>
                    <h2 class="c-form-1__subtitle">Which best describes you?</h2>
                    <div class="c-form-1__radio-group">
                        <label class="c-form-1__radio">
              <input type="radio">
              <span>Private Practices</span>
            </label>
                        <label class="c-form-1__radio">
              <input type="radio">
              <span>Groups And DSO’s</span>
            </label>
                        <label class="c-form-1__radio">
              <input type="radio">
              <span>Dental Startups</span>
            </label>
                    </div>
                    <div class="c-form-1__button-group">
                        <a class="c-button c-button_primary c-button_tall">Submit</a>
                    </div>
                    <p class="c-form-1__sub-text">By requesting a demo, you agree to receive automated text messages from CareStack. We’ll handle your info according to our
                        <a href="#" class="link__text">privacy statement</a>.</p>
                </div>
            </div>
            <div class="c-content__right">
                <img src="assets/image-2.png" alt="">
            </div>
        </div>
        <%- include('partials/common/footer') %>
            <%- include('partials/foot') %>