<%- include('partials/head') %>
    <%- include('partials/common/header') %>
        <!-- Content - Main -->
        <div class="c-content c-content_main u-margin-bottom-75">
            <div class="c-content__inner">
                <div class="c-page-title">
                    <h1 class="c-page-title__main">Learn</h1>
                    <h3 class="c-page-title__sub">
                        Completre dental software designed to meet the unique needs of <br /> independent dental practices.
                    </h3>
                </div>
                <ul class="c-resources-menu">
                    <li class="c-resources-menu__item">
                        <a href="" class="c-resources-menu__link">E book</a>
                    </li>
                    <li class="c-resources-menu__item">
                        <a href="" class="c-resources-menu__link">Webinar</a>
                    </li>
                    <li class="c-resources-menu__item">
                        <a href="" class="c-resources-menu__link">Podcasts</a>
                    </li>
                    <li class="c-resources-menu__item">
                        <a href="" class="c-resources-menu__link">Articles</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--Content - Panel-->
        <div class="c-content c-content_featured-resource">
            <div class="c-featured-resource">
                <h3 class="c-featured-resource__badge">Featured Article</h3>
                <h1 class="c-featured-resource__title">
                    How to Do Email Marketing <br /> for Dental Practices
                </h1>
                <h3 class="c-featured-resource__text">
                    Creating an email marketing strategy for your dental practices can <br /> help you build lifelong relationships with your diners. Here’s how to
                    <br /> use email for dental practices.
                </h3>
                <div class="c-featured-resource__link">Read Artcle</div>
            </div>
        </div>
        <!--Content -->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="u-flex u-flex__justify-content_space-between">
                    <div class="c-articles-grid-title">All Articles</div>
                    <div class="c-button-group">
                        <buttom class="c-drop-btn">Filter by type</buttom>
                    </div>
                </div>
                <div class="c-progress"></div>
                <div class="o-grid-3">
                    <div class="c-card-2">
                        <div class="c-card-2__image">
                            <img src="assets/article-grid-image.jpg" alt="" />
                        </div>
                        <div class="c-card-2__content">
                            <h1 class="c-card-2__title">
                                Fiscal Update For Dentists: <br /> Q&A Session With Industry Experts
                            </h1>
                            <h3 class="c-card-2__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum deserunt fuga et, ratione architecto deleniti.
                            </h3>
                        </div>
                    </div>
                    <div class="c-card-2">
                        <div class="c-card-2__image">
                            <img src="assets/article-grid-image.jpg" alt="" />
                        </div>
                        <div class="c-card-2__content">
                            <h1 class="c-card-2__title">
                                Fiscal Update For Dentists: <br /> Q&A Session With Industry Experts
                            </h1>
                            <h3 class="c-card-2__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum deserunt fuga et, ratione architecto deleniti.
                            </h3>
                        </div>
                    </div>
                    <div class="c-card-2">
                        <div class="c-card-2__image">
                            <img src="assets/article-grid-image.jpg" alt="" />
                        </div>
                        <div class="c-card-2__content">
                            <h1 class="c-card-2__title">
                                Fiscal Update For Dentists: <br /> Q&A Session With Industry Experts
                            </h1>
                            <h3 class="c-card-2__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum deserunt fuga et, ratione architecto deleniti.
                            </h3>
                        </div>
                    </div>
                    <div class="c-card-2">
                        <div class="c-card-2__image">
                            <img src="assets/article-grid-image.jpg" alt="" />
                        </div>
                        <div class="c-card-2__content">
                            <h1 class="c-card-2__title">
                                Fiscal Update For Dentists: <br /> Q&A Session With Industry Experts
                            </h1>
                            <h3 class="c-card-2__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum deserunt fuga et, ratione architecto deleniti.
                            </h3>
                        </div>
                    </div>

                    <div class="o-grid-3__special">
                        <!-- Please complete the code -->
                        <div class="o-grid-3 c-window-tile">
                            <div class="c-window-tile-content c-card-2">
                                <img src="../assets/globe-dual-bg.png" alt="" />
                            </div>
                            <div class="c-window-tile-content c-card-2">
                                <div class="c-window-tile-content__wrapper">
                                    <h2 class="c-card-2__title__white">
                                        Fiscal Update For Dentists: Q&A Session With Industry Experts
                                    </h2>
                                    <p class="c-card-2__text__white">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut aliqua. Ullamco labori ut aliquip ex ea commodo consequat. Eiusmod tempor incididunt ut labore et dolore magna.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-card-2">
                        <div class="c-card-2__image">
                            <img src="assets/article-grid-image.jpg" alt="" />
                        </div>
                        <div class="c-card-2__content">
                            <h1 class="c-card-2__title">
                                Fiscal Update For Dentists: <br /> Q&A Session With Industry Experts
                            </h1>
                            <h3 class="c-card-2__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum deserunt fuga et, ratione architecto deleniti.
                            </h3>
                        </div>
                    </div>
                    <div class="c-card-2">
                        <div class="c-card-2__image">
                            <img src="assets/article-grid-image.jpg" alt="" />
                        </div>
                        <div class="c-card-2__content">
                            <h1 class="c-card-2__title">
                                Fiscal Update For Dentists: <br /> Q&A Session With Industry Experts
                            </h1>
                            <h3 class="c-card-2__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum deserunt fuga et, ratione architecto deleniti.
                            </h3>
                        </div>
                    </div>
                    <div class="c-card-2">
                        <div class="c-card-2__image">
                            <img src="assets/article-grid-image.jpg" alt="" />
                        </div>
                        <div class="c-card-2__content">
                            <h1 class="c-card-2__title">
                                Fiscal Update For Dentists: <br /> Q&A Session With Industry Experts
                            </h1>
                            <h3 class="c-card-2__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum deserunt fuga et, ratione architecto deleniti.
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="c-button-group c-button-group_center">
                    <a href="" class="c-link c-link--down-arrow">Load More</a>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="c-content c-content_form">
            <div class="c-content__left">
                <div class="c-form-1">
                    <div class="c-form-1__header">
                        <h2 class="c-form-1__title">Schedule Your Free Demo</h2>
                        <p class="c-form-1__text">
                            We’ll reach out within 24 hours to schedule your demo.
                        </p>
                    </div>
                    <div class="c-form-1__field-wrapper-container">
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="First and Last Name" />
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Designation" />
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Email" />
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Phone Number" />
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Practice Name" />
                        </div>
                    </div>
                    <h2 class="c-form-1__subtitle">Which best describes you?</h2>
                    <div class="c-form-1__radio-group">
                        <label class="c-form-1__radio">
          <input type="radio" name="radio" />
          <span>Private Practices</span>
        </label>
                        <label class="c-form-1__radio">
          <input type="radio" name="radio" />
          <span>Groups And DSO’s</span>
        </label>
                        <label class="c-form-1__radio">
          <input type="radio" name="radio" />
          <span>Dental Startups</span>
        </label>
                    </div>
                    <div class="c-form-1__button-group">
                        <a class="c-button c-button_primary c-button_tall">Submit</a>
                    </div>
                    <p class="c-form-1__sub-text">
                        By requesting a demo, you agree to receive automated text messages from CareStack. We’ll handle your info according to our
                        <a href="#" class="link__text">privacy statement</a>.
                    </p>
                </div>
            </div>
            <div class="c-content__right">
                <img src="assets/image-2.png" alt="" />
            </div>
        </div>
        <%- include('partials/common/footer') %>
            <%- include('partials/foot') %>