<%- include('partials/head') %>
    <%- include('partials/common/header') %>

        <!-- Content -->
        <div class="mt-100">
            <!-- remove this div -->
            <div class="c-content">
                <div class="c-content__inner">

                    <div class="o-grid-2">
                        <div class="c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="/assets/element-dental.jpg" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">How Element Dental schedule their calendar more efficiently with CareStack</h2>
                                <a href="" class="c-link c-link--right-arrow">Read Case Study</a>
                            </div>
                        </div>
                        <div class="o-grid-2__special">
                            <div class="logo"></div>
                            <div class="text">Switching to CareStack has given us <span class="u-underline">30%
                                    increase</span> in collections without even adding a new team member!</div>
                            <div class="name">Dr. Haranchal Bains – CEO, Element Dental</div>
                        </div>

                        <div class="c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">How Element Dental schedule their calendar more efficiently with CareStack</h2>
                                <a href="" class="c-link c-link--right-arrow">Read Case Study</a>
                            </div>
                        </div>
                        <div class="c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">How Element Dental schedule their calendar more efficiently with CareStack</h2>
                                <a href="" class="c-link c-link--right-arrow">Read Case Study</a>
                            </div>
                        </div>
                        <div class="c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">How Element Dental schedule their calendar more efficiently with CareStack</h2>
                                <a href="" class="c-link c-link--right-arrow">Read Case Study</a>
                            </div>
                        </div>
                        <div class="c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">How Element Dental schedule their calendar more efficiently with CareStack</h2>
                                <a href="" class="c-link c-link--right-arrow">Read Case Study</a>
                            </div>
                        </div>
                        <div class="c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">How Element Dental schedule their calendar more efficiently with CareStack</h2>
                                <a href="" class="c-link c-link--right-arrow">Read Case Study</a>
                            </div>
                        </div>
                        <div class="c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">How Element Dental schedule their calendar more efficiently with CareStack</h2>
                                <a href="" class="c-link c-link--right-arrow">Read Case Study</a>
                            </div>
                        </div>
                        <div class="c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">How Element Dental schedule their calendar more efficiently with CareStack</h2>
                                <a href="" class="c-link c-link--right-arrow">Read Case Study</a>
                            </div>
                        </div>
                        <div class="c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">How Element Dental schedule their calendar more efficiently with CareStack</h2>
                                <a href="" class="c-link c-link--right-arrow">Read Case Study</a>
                            </div>
                        </div>
                        <div class="c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">How Element Dental schedule their calendar more efficiently with CareStack</h2>
                                <a href="" class="c-link c-link--right-arrow">Read Case Study</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- carousel section -->

            <div class="c-content c-content_testimonials">
                <div class="c-content__left">
                    <img src="assets/photo-4.jpg" alt="">
                </div>
                <div class="c-content__right">
                    <div class="c-testimonial">
                        <div class="c-testimonial__top">
                            <p class="c-testimonial__text">Switching to CareStack has given us 30% increase in collections without even adding a new team member!</p>
                            <p class="c-testimonial__name">Dr. Haranchal Bains</p>
                            <p class="c-testimonial__designation">CEO, Element Dental</p>
                        </div>
                        <div class="c-testimonial__bottom">
                            <a href="" class="c-testimonial__left"></a>
                            <a href="" class="c-testimonial__right"></a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Schedule Demo -->
            <div class="c-content c-content_form">
                <div class="c-content__left">
                    <div class="c-form-1">
                        <div class="c-form-1__header">
                            <h2 class="c-form-1__title">Schedule Your Free Demo</h2>
                            <p class="c-form-1__text">We’ll reach out within 24 hours to schedule your demo.</p>
                        </div>
                        <div class="c-form-1__field-wrapper-container">
                            <div class="c-form-1__field-wrapper">
                                <input class="c-field-input" type="text" placeholder="First and Last Name">
                            </div>
                            <div class="c-form-1__field-wrapper">
                                <input class="c-field-input" type="text" placeholder="Designation">
                            </div>
                            <div class="c-form-1__field-wrapper">
                                <input class="c-field-input" type="text" placeholder="Email">
                            </div>
                            <div class="c-form-1__field-wrapper">
                                <input class="c-field-input" type="text" placeholder="Phone Number">
                            </div>
                            <div class="c-form-1__field-wrapper">
                                <input class="c-field-input" type="text" placeholder="Practice Name">
                            </div>
                        </div>
                        <h2 class="c-form-1__subtitle">Which best describes you?</h2>
                        <div class="c-form-1__radio-group">
                            <label class="c-form-1__radio">
                            <input type="radio">
                            <span>Private Practices</span>
                        </label>
                            <label class="c-form-1__radio">
                            <input type="radio">
                            <span>Groups And DSO’s</span>
                        </label>
                            <label class="c-form-1__radio">
                            <input type="radio">
                            <span>Dental Startups</span>
                        </label>
                        </div>
                        <div class="c-form-1__button-group">
                            <a class="c-button c-button_primary c-button_tall">Submit</a>
                        </div>
                        <p class="c-form-1__sub-text">By requesting a demo, you agree to receive automated text messages from CareStack. We’ll handle your info according to our
                            <a href="#" class="link__text">privacy statement</a>.</p>
                    </div>
                </div>
                <div class="c-content__right">
                    <img src="assets/image-2.png" alt="">
                </div>
            </div>




            <!-- Recommended Resources (cards) -->
            <div class="c-content">
                <div class="c-content__inner">
                    <div class="c-section-title u-margin-bottom-50">
                        <h1 class="c-section-title__main ">Recommended Resources For You</h1>
                    </div>
                    <div class="o-grid o-grid_3-column">
                        <div class="o-grid__item c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                                <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                                <a href="" class="c-link c-link--right-arrow">Learn More</a>
                            </div>

                        </div>
                        <div class="o-grid__item c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                                <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                                <a href="" class="c-link c-link--right-arrow">Learn More</a>
                            </div>
                        </div>
                        <div class="o-grid__item c-panel-3">
                            <div class="c-panel-3__image">
                                <img src="" alt="">
                            </div>
                            <div class="c-panel-3__content">
                                <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                                <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                                <a href="" class="c-link c-link--right-arrow">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <%- include('partials/common/footer') %>
            <%- include('partials/foot') %>