<%- include('partials/head') %>
    <%- include('partials/common/header') %>

        <!-- Content - Main -->
        <div class="c-content c-content_main">
            <div class="c-content__inner">
                <div class="c-page-title u-margin-bottom-58">
                    <h1 class="c-page-title__main ">Private Practices</h1>
                    <h3 class="c-page-title__sub">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,<br> culpa placeat. Pariatur quaerat eum nisi!
                    </h3>
                </div>
                <img class="o-hero-image_alternate" src="assets/image-4.png" alt="">
                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>
        </div>

        <!-- Content - "Say Goodbye to Multiple Software" -->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">Say Goodbye to Multiple Software</h1>
                    <h3 class="c-section-title__sub u-margin-bottom-60">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,<br> culpa placeat. Pariatur quaerat eum nisi!
                    </h3>
                </div>
                <img class="o-section-image-1" src="assets/image-1.png" alt="">
                <div class="c-panel-list-4">
                    <div class="c-panel-list-4__item">
                        <h2 class="c-panel-list-4__title">Web Assistant</h2>
                        <p class="c-panel-list-4__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, accusamus! Dolores optio tempora iure quos?</p>
                    </div>
                    <div class="c-panel-list-4__item">
                        <h2 class="c-panel-list-4__title">Web Assistant</h2>
                        <p class="c-panel-list-4__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, accusamus! Dolores optio tempora iure quos?</p>
                    </div>
                    <div class="c-panel-list-4__item">
                        <h2 class="c-panel-list-4__title">Web Assistant</h2>
                        <p class="c-panel-list-4__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, accusamus! Dolores optio tempora iure quos?</p>
                    </div>

                </div>
                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>
        </div>
        <!-- Content - "Deliver An Incredible Patient Experience" -->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">Deliver An Incredible Patient Experience</h1>
                    <h3 class="c-section-title__sub">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,<br> culpa placeat. Pariatur quaerat eum nisi!
                    </h3>
                </div>
                <img class="o-section-image-2" src="assets/image-5.png" alt="">
                <div class="c-card-1">
                    <div class="c-card-1__box">
                        <h2 class="c-card-1__badge">Pre Visit</h2>
                        <h2 class="c-card-1__title">Make it convinient</h2>
                        <p class="c-card-1__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, esse?
                        </p>
                        <ul class="c-card-1__list">
                            <li class="c-card-1__item">Online Scheduling</li>
                            <li class="c-card-1__item">Automated Communication</li>
                            <li class="c-card-1__item">Digital Patient Form</li>
                            <li class="c-card-1__item">Web Chat</li>
                        </ul>
                    </div>
                    <div class="c-card-1__box">
                        <h2 class="c-card-1__badge">During Visit</h2>
                        <h2 class="c-card-1__title">Make it convinient</h2>
                        <p class="c-card-1__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, esse?
                        </p>
                        <ul class="c-card-1__list">
                            <li class="c-card-1__item">Insurance Verification</li>
                            <li class="c-card-1__item">Curbside Check-In</li>
                            <li class="c-card-1__item">Self-Service Kiosk</li>
                            <li class="c-card-1__item">Contactless Payment</li>
                        </ul>
                    </div>
                    <div class="c-card-1__box">
                        <h2 class="c-card-1__badge">Post Visit</h2>
                        <h2 class="c-card-1__title">Make it convinient</h2>
                        <p class="c-card-1__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, esse?
                        </p>
                        <ul class="c-card-1__list">
                            <li class="c-card-1__item">Automated Follow Ups</li>
                            <li class="c-card-1__item">Reputation Management</li>
                            <li class="c-card-1__item">Patient portal</li>
                            <li class="c-card-1__item">Text Messaging</li>
                        </ul>
                    </div>
                </div>
                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>
        </div>
        <!--Content - Insurance-->
        <div class="c-content c-content_insurance">
            <div class="c-content__left">
                <div class="c-insurance-section">
                    <div class="c-insurance-section__main-heading">Boost Insurance Reimbursements</div>
                    <div class="c-insurance-section__main-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati blanditiis aut suscipit!</div>
                    <div class="c-insurance-section__sub-heading is-active mb-15">Insurance Verifiation</div>
                    <div class="c-insurance-section__sub-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae maiores quibusdam iusto.</div>
                    <div class="c-progress-insurance">
                        <div class="c-progress__status " style="width: 30%"></div>
                    </div>
                    <div class="c-insurance-section__sub-heading">Electronics Claims</div>
                    <div class="c-progress-insurance">

                    </div>
                    <div class="c-insurance-section__sub-heading">Aging and Denials</div>
                    <div class="c-progress-insurance">

                    </div>
                    <div class="c-insurance-section__sub-heading">Manual and ERA Posting</div>
                    <div class="c-progress-insurance">

                    </div>
                </div>

            </div>
            <div class="c-content__right">
                <img src="/assets/image-6.png" alt="">
            </div>

        </div>
        <div class="c-button-group c-button-group_center">
            <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
        </div>

        <!-- Content - "Turn your practice data into revenue"-->
        <div class="c-content c-content_gray-2">
            <div class="c-section-title">
                <h1 class="c-section-title__main ">Turn Your Practice Data Into Revenue </h1>
                <h3 class="c-section-title__sub u-margin-bottom-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    <br> tempor incididunt ut labore et dolore magna aliqua.
                </h3>
            </div>
            <div class="c-content__flex">
                <div class="c-content__left">
                    <img src="/assets/image-3.png" alt="">
                </div>
                <div class="c-content__right">
                    <div class="h2 c-list__header">Make It Convinient For
                        <br> Patients To Engage
                    </div>
                    <ul class="c-list__wrapper">
                        <li class="c-list__item">Online Scheduling</li>
                        <li class="c-list__item">Digital Forms</li>
                        <li class="c-list__item">Digital Web Assistant</li>
                    </ul>
                </div>
            </div>
            <div class="c-button-group c-button-group_center">
                <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
            </div>
        </div>

        <!--Content - "Make Your Staff Work Smarter, Not Harder"-->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">Make Your Staff Work Smarter, Not Harder </h1>
                    <h3 class="c-section-title__sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        <br> tempor incididunt ut labore et dolore magna aliqua.
                    </h3>
                </div>
                <div class="o-grid o-grid_3-column u-margin-bottom-100">
                    <div class="o-grid__item--mid c-panel-5">
                        <div class="c-panel-5__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-5__title">Task Automation</div>
                        <div class="c-panel-5__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quae officiis dicta.</div>

                    </div>
                    <div class="o-grid__item--mid c-panel-5">
                        <div class="c-panel-5__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-5__title">Alerts & Notifications</div>
                        <div class="c-panel-5__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quae officiis dicta.</div>

                    </div>
                    <div class="o-grid__item--mid c-panel-5">
                        <div class="c-panel-5__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-5__title">Intra Office Communicator</div>
                        <div class="c-panel-5__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quae officiis dicta.</div>

                    </div>
                </div>
                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>

        </div>


        <!--Content - Client experience -->
        <div class="c-content c-content_panel-6">
            <div class="c-client-experience-title__main">Seamless Client Experience</div>
            <div class="c-client-experience-title__sub">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, eaque nemo! Ea cum officiis porro, necessitatibus aspernatur nesciunt sed laboriosam esse aut unde iusto natus, ex incidunt inventore quis quod.</div>
            <div class="c-panel-list-6">
                <div class="c-panel-list-6__item">
                    <h2 class="c-panel-list-6__title">Better for Operations</h2>
                    <p class="c-panel-list-6__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="c-panel-list-6__item">
                    <h2 class="c-panel-list-6__title">Training</h2>
                    <p class="c-panel-list-6__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="c-panel-list-6__item">
                    <h2 class="c-panel-list-6__title">Support</h2>
                    <p class="c-panel-list-6__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="c-content c-content_accordion">
            <div class="c-content__inner">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">Frequently Asked Questions</h1>
                </div>

                <div class="c-accordion">
                    <div class="c-accordion__item is-active">
                        <a class="c-accordion__title">Why should I choose CareStack over another software?</a>
                        <div class="c-accordion__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate pariatur. Excepteur sint cupidatat proident, culpaquiofficia deserunt mollit anim id est laborum.</div>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">What are the various pricing options available?</a>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">Are there any set up fees or long term contracts?</a>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">How can I get my existing data imported?</a>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">How long does it take to implement? </a>
                    </div>
                </div>

                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Load More</button>
                </div>
            </div>
        </div>
        <!-- carousel section -->
        <div class="c-content c-content_testimonials">
            <div class="c-content__left">
                <img src="assets/photo-4.jpg" alt="">
            </div>
            <div class="c-content__right">
                <div class="c-testimonial">
                    <div class="c-testimonial__top">
                        <p class="c-testimonial__text">Switching to CareStack has given us 30% increase in collections without even adding a new team member!</p>
                        <p class="c-testimonial__name">Dr. Haranchal Bains</p>
                        <p class="c-testimonial__designation">CEO, Element Dental</p>
                    </div>
                    <div class="c-testimonial__bottom">
                        <a href="" class="c-testimonial__left"></a>
                        <a href="" class="c-testimonial__right"></a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Content -->
        <div class="c-content c-content_form">
            <div class="c-content__left">
                <div class="c-form-1">
                    <div class="c-form-1__header">
                        <h2 class="c-form-1__title">Schedule Your Free Demo</h2>
                        <p class="c-form-1__text">We’ll reach out within 24 hours to schedule your demo.</p>
                    </div>
                    <div class="c-form-1__field-wrapper-container">
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="First and Last Name">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Designation">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Email">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Phone Number">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Practice Name">
                        </div>
                    </div>
                    <h2 class="c-form-1__subtitle">Which best describes you?</h2>
                    <div class="c-form-1__radio-group">
                        <label class="c-form-1__radio">
                            <input type="radio">
                            <span>Private Practices</span>
                        </label>
                        <label class="c-form-1__radio">
                            <input type="radio">
                            <span>Groups And DSO’s</span>
                        </label>
                        <label class="c-form-1__radio">
                            <input type="radio">
                            <span>Dental Startups</span>
                        </label>
                    </div>
                    <div class="c-form-1__button-group">
                        <a class="c-button c-button_primary c-button_tall">Submit</a>
                    </div>
                    <p class="c-form-1__sub-text">By requesting a demo, you agree to receive automated text messages from CareStack. We’ll handle your info according to our
                        <a href="#" class="link__text">privacy statement</a>.</p>
                </div>
            </div>
            <div class="c-content__right">
                <img src="assets/image-2.png" alt="">
            </div>
        </div>



        <!-- Content -->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="c-section-title mb-80">
                    <h1 class="c-section-title__main ">Recommended Resources For You</h1>
                </div>
                <div class="o-grid o-grid_3-column">
                    <div class="o-grid__item c-panel-3">
                        <div class="c-panel-3__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-3__content">
                            <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                            <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                            <a href="" class="c-link c-link--right-arrow">Learn More</a>
                        </div>

                    </div>
                    <div class="o-grid__item c-panel-3">
                        <div class="c-panel-3__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-3__content">
                            <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                            <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                            <a href="" class="c-link c-link--right-arrow">Learn More</a>
                        </div>
                    </div>
                    <div class="o-grid__item c-panel-3">
                        <div class="c-panel-3__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-3__content">
                            <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                            <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                            <a href="" class="c-link c-link--right-arrow">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/common/footer') %>
            <%- include('partials/foot') %>