<%- include('partials/head') %>
    <%- include('partials/common/header') %>

        <!-- Content - Main -->
        <div class="c-content c-content_main">
            <div class="c-content__inner">
                <div class="c-page-title">
                    <h1 class="c-page-title__main ">Dental Startups</h1>
                    <h3 class="c-page-title__sub">
                        Complete dental software designed to meet the unique needs of <br> independent dental practices.
                    </h3>
                </div>
                <img class="o-hero-image" src="assets/image-1.png" alt="">
                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>
        </div>

        <!-- zic zac cards section -->
        <div class="c-content__inner">
            <div class="c-content">
                <h2 class="c-section-title__main ">Run your entire business on a single platform</h2>
                <p class="c-section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

                <div class="card-section-container">
                    <div class="card-section u-flex column-gap-128 mb-100">
                        <div class="c-card-pain"></div>
                        <div class="c-card-content">
                            <h2 class="c-card-sub-title c-card-sub-title--list-head">Minimize IT infrastructure <br> overheads </h2>
                            <ul class="c-list__wrapper">
                                <li class="c-list__item top-align">
                                    <p class="c-list__item-title">Appointment Dashboard</p>
                                    <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do
                                        eiusmod.</span>
                                </li>
                                <li class="c-list__item top-align">
                                    <p class="c-list__item-title">Forecasting</p>
                                    <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do
                                        eiusmod.</span>
                                </li>
                                <li class="c-list__item top-align">
                                    <p class="c-list__item-title">Huddle Report</p>
                                    <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do
                                        eiusmod.</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-section u-flex column-gap-128 mb-120 u-flex__direction-row-reverse">
                        <div class="c-card-pain"></div>
                        <div class="c-card-content">
                            <div class="c-content__right">
                                <h2 class="h2 c-list__header">Eliminate spend on <br> multiple softwares </h2>
                                <ul class="c-list__wrapper">
                                    <li class="c-list__item top-align">
                                        <p class="c-list__item-title">Appointment Dashboard</p>
                                        <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do
                                            eiusmod.</span>
                                    </li>
                                    <li class="c-list__item top-align">
                                        <p class="c-list__item-title">Forecasting</p>
                                        <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do
                                            eiusmod.</span>
                                    </li>
                                    <li class="c-list__item top-align">
                                        <p class="c-list__item-title">Huddle Report</p>
                                        <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do
                                            eiusmod.</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="c-button-group c-button-group_center">
                        <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content shade --->
        <div class="c-content c-content_gray-2 ">
            <div class="c-section-title">
                <h1 class="c-section-title__main ">Attract more patients and grow </h1>
                <h3 class="c-section-title__sub u-margin-bottom-40">Complete dental software designed to meet the unique needs of <br> independent dental practices.
                </h3>
            </div>
            <div class="c-content__flex">
                <div class="c-content__left">
                    <img src="/assets/image-3.png" alt="">
                </div>
                <div class="c-content__right">
                    <div class="h2 c-list__header">Make It Convinient For
                        <br> Patients To Engage
                    </div>
                    <ul class="c-list__wrapper">
                        <li class="c-list__item top-align">
                            <p class="c-list__item-title">Appointment Dashboard</p>
                            <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod.</span>
                        </li>
                        <li class="c-list__item top-align">
                            <p class="c-list__item-title">Forecasting</p>
                            <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod.</span>
                        </li>
                        <li class="c-list__item top-align">
                            <p class="c-list__item-title">Huddle Report</p>
                            <span>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="c-button-group c-button-group_center">
                <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
            </div>
        </div>

        <!--Content - "Make Your Staff Work Smarter, Not Harder"-->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">Maximize insurance reimbursements and collections </h1>
                    <h3 class="c-section-title__sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        <br> tempor incididunt ut labore et dolore magna aliqua.
                    </h3>
                </div>
                <div class="o-grid o-grid_3-column u-margin-bottom-100">
                    <div class="o-grid__item--mid c-panel-5">
                        <div class="c-panel-5__image shadow">
                            <!-- <img src="" alt=""> -->
                        </div>
                        <div class="c-panel-5__title">Reputation management </div>
                        <div class="c-panel-5__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quae officiis dicta.</div>

                    </div>
                    <div class="o-grid__item--mid c-panel-5">
                        <div class="c-panel-5__image shadow">
                            <!-- <img src="" alt=""> -->
                        </div>
                        <div class="c-panel-5__title">Patient referrals</div>
                        <div class="c-panel-5__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quae officiis dicta.</div>

                    </div>
                    <div class="o-grid__item--mid c-panel-5">
                        <div class="c-panel-5__image shadow">
                            <!-- <img src="" alt=""> -->
                        </div>
                        <div class="c-panel-5__title">Surveys</div>
                        <div class="c-panel-5__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quae officiis dicta.</div>

                    </div>
                </div>
                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>

        </div>


        <!-- Content shade --->
        <div class=" c-content_gray-2 pricing-section">
            <div class="c-section-title">
                <h1 class="c-section-title__main ">Jumpstart Program For Startups</h1>
                <h3 class="c-section-title__sub u-margin-bottom-40">Complete dental software designed to meet the unique needs of <br> independent dental practices.
                </h3>
            </div>
            <!-- pricing cards -->
            <div class="c-content__inner">
                <div class="pricing-card-section u-flex column-gap-128">
                    <div class="content-wrapper">
                        <p class="c-list__item-title mb-20 ">Designed to grow with <br> your business </p>
                        <p class="c-section-text__small mb-50">Lorem ipsum duis aute irure dolor nderit in voluptate partur. Epdent, culpaqu iofficia deserunt lwpnam id est laborum.</p>
                        <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                    </div>
                    <div class="card-tile-section">
                        <div class="tile-wrapper u-flex column-gap-32">
                            <div class="c-price-card">
                                <div class="pricing-card-label">Regular Pricing</div>
                                <p class="c-price-card__digit"><sup>$</sup><span class="bold-text">1100</span> /mo</p>
                                <p class="package-title package-title__line mb-20">Included</p>
                                <ul class="c-price-card-list">
                                    <li class="c-price-card-list__item">CareStack PMS</li>
                                    <li class="c-price-card-list__item">e-Attachments</li>
                                    <li class="c-price-card-list__item">Cloud Based Imaging</li>
                                    <li class="c-price-card-list__item">30 Eligibility Verifications</li>
                                </ul>
                            </div>

                            <!-- card-2 -->
                            <div class="c-price-card blue-card">
                                <div class="badge-lg">
                                    <div class="content">
                                        <p class="badge-lg__digit">80%</p>
                                        <p class="badge-lg__text">Discount</p>
                                    </div>
                                </div>

                                <span class="pricing-card-label__blue">Startup Pricing</span>

                                <p class="c-price-card__digit__blue"><sup>$</sup><span class="bold-text">1100</span> /mo
                                </p>
                                <p class="package-title__blue package-title__line mb-20">Included</p>
                                <ul class="c-price-card-list">
                                    <li class="c-price-card-list__item__blue">CareStack PMS</li>
                                    <li class="c-price-card-list__item__blue">e-Attachments</li>
                                    <li class="c-price-card-list__item__blue">Cloud Based Imaging</li>
                                    <li class="c-price-card-list__item__blue">30 Eligibility Verifications</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="poster-section c-content__inner">
                <div class="poster">
                    <div class="content-wrapper">
                        <div class="poster__label">Special Bonus</div>
                        <div class="poster__play">
                            <img src="./assets/play-btn.svg" alt="">
                        </div>
                        <div class="content-box u-flex u-flex__align-items_center">
                            <div class="acadamy-label">
                                <img src="./assets/acadamy.svg" alt="">
                            </div>
                            <p class="poster__title">FREE Access To <br> <span class="poster__title-bold">Business
                                    Skills Academy</span> <br> For 1 Year.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--  -->
        <div class="c-content c-content_panel-6">
            <div class="c-client-experience-title__main">Practice Support Solutions </div>
            <div class="c-client-experience-title__sub">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, eaque nemo! Ea cum officiis porro, necessitatibus aspernatur nesciunt sed laboriosam esse aut unde iusto natus, ex incidunt inventore quis quod.</div>
            <div class="c-panel-list-6">
                <div class="c-panel-list-6__item">
                    <h2 class="c-panel-list-6__title">Better for Operations</h2>
                    <p class="c-panel-list-6__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="c-panel-list-6__item">
                    <h2 class="c-panel-list-6__title">Training</h2>
                    <p class="c-panel-list-6__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="c-panel-list-6__item">
                    <h2 class="c-panel-list-6__title">Support</h2>
                    <p class="c-panel-list-6__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <!-- Content accordion -->
        <div class="c-content c-content_accordion">
            <div class="c-content__inner">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">Frequently Asked Questions</h1>
                </div>

                <div class="c-accordion">
                    <div class="c-accordion__item is-active">
                        <a class="c-accordion__title">Why should I choose CareStack over another software?</a>
                        <div class="c-accordion__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate pariatur. Excepteur sint cupidatat proident, culpaquiofficia deserunt mollit anim id est laborum.</div>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">What are the various pricing options available?</a>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">Are there any set up fees or long term contracts?</a>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">How can I get my existing data imported?</a>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">How long does it take to implement? </a>
                    </div>
                </div>

                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Load More</button>
                </div>
            </div>
        </div>


        <!-- Content -->
        <div class="c-content c-content_testimonials">
            <div class="c-content__left">
                <img src="assets/photo-4.jpg" alt="">
            </div>
            <div class="c-content__right">
                <div class="c-testimonial">
                    <div class="c-testimonial__top">
                        <p class="c-testimonial__text">Switching to CareStack has given us 30% increase in collections without even adding a new team member!</p>
                        <p class="c-testimonial__name">Dr. Haranchal Bains</p>
                        <p class="c-testimonial__designation">CEO, Element Dental</p>
                    </div>
                    <div class="c-testimonial__bottom">
                        <a href="" class="c-testimonial__left"></a>
                        <a href="" class="c-testimonial__right"></a>
                    </div>
                </div>
            </div>
        </div>



        <!-- Content -->
        <div class="c-content c-content_form">
            <div class="c-content__left">
                <div class="c-form-1">
                    <div class="c-form-1__header">
                        <h2 class="c-form-1__title">Schedule Your Free Demo</h2>
                        <p class="c-form-1__text">We’ll reach out within 24 hours to schedule your demo.</p>
                    </div>
                    <div class="c-form-1__field-wrapper-container">
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="First and Last Name">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Designation">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Email">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Phone Number">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Practice Name">
                        </div>
                    </div>
                    <h2 class="c-form-1__subtitle">Which best describes you?</h2>
                    <div class="c-form-1__radio-group">
                        <label class="c-form-1__radio">
                            <input type="radio">
                            <span>Private Practices</span>
                        </label>
                        <label class="c-form-1__radio">
                            <input type="radio">
                            <span>Groups And DSO’s</span>
                        </label>
                        <label class="c-form-1__radio">
                            <input type="radio">
                            <span>Dental Startups</span>
                        </label>
                    </div>
                    <div class="c-form-1__button-group">
                        <a class="c-button c-button_primary c-button_tall">Submit</a>
                    </div>
                    <p class="c-form-1__sub-text">By requesting a demo, you agree to receive automated text messages from CareStack. We’ll handle your info according to our
                        <a href="#" class="link__text">privacy statement</a>.</p>
                </div>
            </div>
            <div class="c-content__right">
                <img src="assets/image-2.png" alt="">
            </div>
        </div>



        <!-- Recommended Resources (cards) -->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="c-section-title u-margin-bottom-50">
                    <h1 class="c-section-title__main ">Recommended Resources For You</h1>
                </div>
                <div class="o-grid o-grid_3-column">
                    <div class="o-grid__item c-panel-3">
                        <div class="c-panel-3__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-3__content">
                            <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                            <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                            <a href="" class="c-link c-link--right-arrow">Learn More</a>
                        </div>

                    </div>
                    <div class="o-grid__item c-panel-3">
                        <div class="c-panel-3__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-3__content">
                            <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                            <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                            <a href="" class="c-link c-link--right-arrow">Learn More</a>
                        </div>
                    </div>
                    <div class="o-grid__item c-panel-3">
                        <div class="c-panel-3__image">
                            <img src="" alt="">
                        </div>
                        <div class="c-panel-3__content">
                            <h2 class="c-panel-3__title">Choosing the Right PMS for Your Practice:</h2>
                            <p class="c-panel-3__text">A Guide for Small Practices Choosing an PMS for your small practice is a big decision. This guide provides a...</p>
                            <a href="" class="c-link c-link--right-arrow">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/common/footer') %>
            <%- include('partials/foot') %>