<%- include('partials/head') %>
    <%- include('partials/common/header') %>

        <!-- Content - Main -->
        <div class="c-content c-content_main">
            <div class="c-content__inner">
                <div class="c-page-title mb-47">
                    <h1 class="c-page-title__main ">Comparison</h1>
                    <h3 class="c-page-title__sub">
                        Complete dental software designed to meet the unique needs of <br> independent dental practices. </h3>
                </div>
                <!-- comparison label -->
                <div class="c-brand-wrapper">
                    <div class="c-brand">
                        <img src="./assets/logo.svg" alt="">
                    </div>
                    <div class="c-brand__text-plain">
                        <p>vs.</p>
                    </div>
                    <div class="c-brand__shade">
                        <p>Dentrix</p>
                    </div>
                    <div class="c-brand__shade">
                        <p>Softdent</p>
                    </div>
                    <div class="c-brand__shade">
                        <p>Dentrix Ascend</p>
                    </div>
                    <div class="c-brand__shade">
                        <p>Denticon</p>
                    </div>
                </div>
                <!-- table goes here -->


                <div class="c-table-section">
                    <!-- loop here without header -->
                    <div class="c-custom-table">
                        <div class="c-column c-column__shade">
                            <div class="c-column-item">Lorem ipsum dolor</div>
                        </div>

                        <table class="c-custom-table__content">
                            <tr class="c-custom-table__row">
                                <td class="c-custom-table__data"></td>
                                <td class="c-custom-table__data logo"><img src="../assets/logo.svg" alt=""></td>
                                <td class="c-custom-table__data">
                                    <div class="c-column-item">
                                        <span class="text-plain">vs.</span>
                                        <div class="dropdown">
                                            Dentrix
                                        </div>
                                    </div>
                                </td>

                            </tr>

                            <tr class="c-custom-table__row">
                                <td class="c-custom-table__data">asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas </td>
                                <td class="c-custom-table__data">
                                    <div class="c-column-item">
                                        <div class="star-rating three-star">
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="c-custom-table__data">
                                    <div class="c-column-item">
                                        <div class="star-rating three-star">
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr class="c-custom-table__row">
                                <td class="c-custom-table__data">Lorem ipsum dolor</td>
                                <td class="c-custom-table__data">$100</td>
                                <td class="c-custom-table__data">Legend / dash / text</td>
                            </tr>
                            <tr class="c-custom-table__row">
                                <td class="c-custom-table__data">Lorem ipsum dolor</td>
                                <td class="c-custom-table__data">$100</td>
                                <td class="c-custom-table__data">
                                    <div class="c-column-item">
                                        <div class="star-rating four-star">
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>



                    </div>
                    <div class="c-custom-table">
                        <div class="c-column c-column__shade">
                            <div class="c-column-item">Lorem ipsum dolor</div>
                        </div>

                        <table class="c-custom-table__content">

                            <tr class="c-custom-table__row">
                                <td class="c-custom-table__data">asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas asdasd adsas </td>
                                <td class="c-custom-table__data">
                                    <div class="c-column-item">
                                        <div class="star-rating three-star">
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="c-custom-table__data">
                                    <div class="c-column-item">
                                        <div class="star-rating three-star">
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr class="c-custom-table__row">
                                <td class="c-custom-table__data">Lorem ipsum dolor</td>
                                <td class="c-custom-table__data">$100</td>
                                <td class="c-custom-table__data">Legend / dash / text</td>
                            </tr>
                            <tr class="c-custom-table__row">
                                <td class="c-custom-table__data">Lorem ipsum dolor</td>
                                <td class="c-custom-table__data">$100</td>
                                <td class="c-custom-table__data">
                                    <div class="c-column-item">
                                        <div class="star-rating four-star">
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                            <span class="star"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>



                    </div>
















                    <!-- <div class="c-custom-table">
                        <div class="c-column c-column__shade">
                            <div class="c-column-item">Lorem ipsum dolor</div>
                        </div>
                        <div class="c-column__plain">
                            <div class="c-column-item">Lorem ipsum dolor</div>
                            <div class="c-column-item">Lorem ipsum dolor</div>
                            <div class="c-column-item">Lorem ipsum dolor</div>
                            <div class="c-column-item">Lorem ipsum dolor</div>
                            <div class="c-column-item">Lorem ipsum dolor</div>
                            <div class="c-column-item">Lorem ipsum dolor</div>
                        </div>
                        <div class=" c-column__shadow">
                            <div class="c-column-item">
                                <div class="star-rating five-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">$100</div>
                            <div class="c-column-item">
                                <div class="star-rating one-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating two-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating four-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>


                        </div>
                        <div class="c-column  c-column__plain">
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">Legend / dash / text</div>
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                        </div>

                    </div> -->
                    <!-- <div class="c-custom-table">
                        
                        <div class="c-column c-column__shade">
                            <div class="c-column-item">Lorem ipsum dolor</div>
                        </div>
                        <div class="c-column__plain">
                            <div class="c-column-item">Lorem ipsum dolor</div>
                            <div class="c-column-item">Lorem ipsum dolor</div>
                            <div class="c-column-item">Lorem ipsum dolor</div>
                            <div class="c-column-item">Lorem ipsum dolor</div>
                            <div class="c-column-item">Lorem ipsum dolor</div>
                            <div class="c-column-item">Lorem ipsum dolor</div>
                        </div>
                        <div class=" c-column__shadow">
                            <div class="c-column-item">
                                <div class="star-rating five-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">$100</div>
                            <div class="c-column-item">
                                <div class="star-rating one-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating two-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating four-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>


                        </div>
                        <div class="c-column  c-column__plain">
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">Legend / dash / text</div>
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                            <div class="c-column-item">
                                <div class="star-rating three-star">
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>
                        </div>

                    </div> -->
                </div>
                <div class="button-wrapper">
                    <p class="show-more-btn">See More Features</p>
                </div>
            </div>
        </div>


        <!-- carousel -->
        <div class="c-content c-content_testimonials">
            <div class="c-content__left">
                <img src="assets/photo-4.jpg" alt="">
            </div>
            <div class="c-content__right">
                <div class="c-testimonial">
                    <div class="c-testimonial__top">
                        <p class="c-testimonial__text">Switching to CareStack has given us 30% increase in collections without even adding a new team member!</p>
                        <p class="c-testimonial__name">Dr. Haranchal Bains</p>
                        <p class="c-testimonial__designation">CEO, Element Dental</p>
                    </div>
                    <div class="c-testimonial__bottom">
                        <a href="" class="c-testimonial__left"></a>
                        <a href="" class="c-testimonial__right"></a>
                    </div>
                </div>
            </div>
        </div>


        <!-- comparison cards section -->
        <div class="c-content__inner">
            <div class="c-content">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">Eliminate hassles during the visit</h1>
                    <h3 class="c-section-title__sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        <br> tempor incididunt ut labore et dolore magna aliqua.
                    </h3>
                </div>
                <div class="o-grid o-grid_3-column o-grid_3-row c-card-rectangle">
                    <div class=" o-grid__item  c-card-rectangle__tile">
                        <h2 class="c-card-rectangle__header">CareStack vs. Dentrix</h2>
                        <p class="c-panel-2__text">See how we offer more ways to attract more customers.
                        </p>
                    </div>
                    <div class=" o-grid__item  c-card-rectangle__tile">
                        <h2 class="c-card-rectangle__header">CareStack vs. Dentrix</h2>
                        <p class="c-panel-2__text">See how we offer more ways to attract more customers.
                        </p>
                    </div>
                    <div class=" o-grid__item  c-card-rectangle__tile">
                        <h2 class="c-card-rectangle__header">CareStack vs. Dentrix</h2>
                        <p class="c-panel-2__text">See how we offer more ways to attract more customers.
                        </p>
                    </div>
                    <div class=" o-grid__item  c-card-rectangle__tile">
                        <h2 class="c-card-rectangle__header">CareStack vs. Dentrix</h2>
                        <p class="c-panel-2__text">See how we offer more ways to attract more customers.
                        </p>
                    </div>
                    <div class=" o-grid__item  c-card-rectangle__tile">
                        <h2 class="c-card-rectangle__header">CareStack vs. Dentrix</h2>
                        <p class="c-panel-2__text">See how we offer more ways to attract more customers.
                        </p>
                    </div>
                    <div class=" o-grid__item  c-card-rectangle__tile">
                        <h2 class="c-card-rectangle__header">CareStack vs. Dentrix</h2>
                        <p class="c-panel-2__text">See how we offer more ways to attract more customers.
                        </p>
                    </div>

                </div>
                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>
        </div>



        <!-- Content - Customers -->
        <div class="c-content">
            <h2 class="c-customer-title">Over 1000+ practices, both big and small, are growing their business with CareStack.
            </h2>
            <div class="c-customer-bar">
                <div class="c-customer-bar__inner">
                    <img src="assets/customers/1.png" alt="1">
                    <img src="assets/customers/2.png" alt="2">
                    <img src="assets/customers/3.png" alt="3">
                    <img src="assets/customers/4.png" alt="4">
                    <img src="assets/customers/5.png" alt="5">
                    <img src="assets/customers/6.png" alt="6">
                    <img src="assets/customers/7.png" alt="7">
                    <img src="assets/customers/8.png" alt="8">
                </div>
                <div class="c-customer-bar__inner">
                    <img src="assets/customers/5.png" alt="5">
                    <img src="assets/customers/7.png" alt="7">
                    <img src="assets/customers/6.png" alt="6">
                    <img src="assets/customers/8.png" alt="8">
                    <img src="assets/customers/1.png" alt="1">
                    <img src="assets/customers/3.png" alt="3">
                    <img src="assets/customers/2.png" alt="2">
                    <img src="assets/customers/4.png" alt="4">
                </div>
            </div>
        </div>


        <!-- Content accordion -->
        <div class="c-content c-content_accordion">
            <div class="c-content__inner">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">Frequently Asked Questions</h1>
                </div>

                <div class="c-accordion">
                    <div class="c-accordion__item is-active">
                        <a class="c-accordion__title">Why should I choose CareStack over another software?</a>
                        <div class="c-accordion__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate pariatur. Excepteur sint cupidatat proident, culpaquiofficia deserunt mollit anim id est laborum.</div>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">What are the various pricing options available?</a>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">Are there any set up fees or long term contracts?</a>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">How can I get my existing data imported?</a>
                    </div>
                    <div class="c-accordion__item">
                        <a class="c-accordion__title">How long does it take to implement? </a>
                    </div>
                </div>

                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Load More</button>
                </div>
            </div>
        </div>


        <!-- Schedule Demo -->
        <div class="c-content c-content_form list-flow">
            <div class="c-content__left">
                <div class="c-form-1">
                    <div class="c-form-1__header">
                        <h2 class="c-form-1__title">Schedule Your Free Demo</h2>
                        <p class="c-form-1__text">We’ll reach out within 24 hours to schedule your demo.</p>
                    </div>
                    <div class="c-form-1__field-wrapper-container">
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" name="" placeholder="First and Last Name">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Designation">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Email">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Phone Number">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Practice Name">
                        </div>
                    </div>
                    <h2 class="c-form-1__subtitle">Which best describes you?</h2>
                    <div class="c-form-1__radio-group">
                        <label class="c-form-1__radio">
                        <input type="radio" name="radio" >
                        <span>Private Practices</span>
                    </label>
                        <label class="c-form-1__radio">
                        <input type="radio" name="radio" >
                        <span>Groups And DSO’s</span>
                    </label>
                        <label class="c-form-1__radio">
                        <input type="radio" >
                        <span>Dental Startups</span>
                    </label>
                    </div>
                    <div class="c-form-1__button-group">
                        <a class="c-button c-button_primary c-button_tall">Submit</a>
                    </div>
                    <p class="c-form-1__sub-text">By requesting a demo, you agree to receive automated text messages from CareStack. We’ll handle your info according to our
                        <a href="#" class="link__text">privacy statement</a>.</p>
                </div>
            </div>
            <div class="c-content__right">
                <img src="../assets/computer.png" alt="">
            </div>
        </div>



        <%- include('partials/common/footer') %>
            <%- include('partials/foot') %>