<%- include('partials/head') %>
    <%- include('partials/common/header') %>


        <!-- Content - Main -->
        <div class="c-content c-content_main">
            <div class="c-content__inner">
                <div class="c-page-title">
                    <h1 class="c-page-title__main ">Complete Dental Software</h1>
                    <h3 class="c-page-title__sub">
                        Everyday we help thousands of dentists <a class="c-page-title__link">Simplify
                            Operations</a>.<br> Discover how we can make your practice grow and thrive.
                    </h3>
                </div>
                <img class="o-hero-image" src="assets/image-1.png" alt="">
                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>
        </div>

        <!-- Content - Customers -->
        <div class="c-content">
            <h2 class="c-customer-title">Over 1000+ practices, both big and small, are growing their business with CareStack.
            </h2>
            <div class="c-customer-bar">
                <div class="c-customer-bar__inner">
                    <img src="assets/customers/1.png" alt="1">
                    <img src="assets/customers/2.png" alt="2">
                    <img src="assets/customers/3.png" alt="3">
                    <img src="assets/customers/4.png" alt="4">
                    <img src="assets/customers/5.png" alt="5">
                    <img src="assets/customers/6.png" alt="6">
                    <img src="assets/customers/7.png" alt="7">
                    <img src="assets/customers/8.png" alt="8">
                </div>
                <div class="c-customer-bar__inner">
                    <img src="assets/customers/5.png" alt="5">
                    <img src="assets/customers/7.png" alt="7">
                    <img src="assets/customers/6.png" alt="6">
                    <img src="assets/customers/8.png" alt="8">
                    <img src="assets/customers/1.png" alt="1">
                    <img src="assets/customers/3.png" alt="3">
                    <img src="assets/customers/2.png" alt="2">
                    <img src="assets/customers/4.png" alt="4">
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="c-content c-content_panel-1">
            <div class="c-content__inner">

                <div class="c-panel-1">
                    <h2 class="c-panel-1__title">Why Use CareStack?</h2>

                    <div class="c-panel-list-1">
                        <div class="c-panel-list-1__item">
                            <h2 class="c-panel-list-1__title">Better for Patients</h2>
                            <p class="c-panel-list-1__text">Lorem ipsum dolor sit amet, consectetur avioiscinr elit, sed do eiusmod.
                            </p>
                        </div>
                        <div class="c-panel-list-1__item">
                            <h2 class="c-panel-list-1__title">Better for Operations</h2>
                            <p class="c-panel-list-1__text">Lorem ipsum dolor sit amet, consectetur avioiscinr elit, sed do eiusmod.
                            </p>
                        </div>
                        <div class="c-panel-list-1__item">
                            <h2 class="c-panel-list-1__title">Better for Teams</h2>
                            <p class="c-panel-list-1__text">Lorem ipsum dolor sit amet, consectetur avioiscinr elit, sed do eiusmod.
                            </p>
                        </div>
                        <div class="c-panel-list-1__item">
                            <h2 class="c-panel-list-1__title">Better for Business</h2>
                            <p class="c-panel-list-1__text">Lorem ipsum dolor sit amet, consectetur avioiscinr elit, sed do eiusmod.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Content -->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">What Can CareStack Do For You?</h1>
                </div>
                <ul class="c-tab-1">
                    <li class="c-tab-1__item is-active">
                        <a class="c-tab-1__button">Business Type</a>
                    </li>
                    <li class="c-tab-1__item">
                        <a class="c-tab-1__button">Business Need</a>
                    </li>
                    <li class="c-tab-1__item">
                        <a class="c-tab-1__button">Business Role</a>
                    </li>
                </ul>

                <div class="o-grid o-grid_3-column">
                    <div class="o-grid__item c-panel-2">
                        <div class="c-panel-2__top">
                            <img class="c-panel-2__image" src="/assets/panels/panel-2-image.svg" alt="">
                            <h2 class="c-panel-2__title">Private Practices</h2>
                            <p class="c-panel-2__text">Manage everything you need at the practice with an all-in-one software.
                            </p>
                        </div>
                        <div class="c-panel-2__bottom">
                            <a class="c-link c-link--right-arrow">Learn More</a>
                        </div>
                    </div>
                    <div class="o-grid__item c-panel-2">
                        <div class="c-panel-2__top">
                            <img class="c-panel-2__image" src="/assets/panels/panel-2-image.svg" alt="">
                            <h2 class="c-panel-2__title">Groups And DSO’s</h2>
                            <p class="c-panel-2__text">Centralize operations to improve profitability and operational efficiency.
                            </p>
                        </div>
                        <div class="c-panel-2__bottom">
                            <a class="c-link c-link--right-arrow">Learn More</a>
                        </div>
                    </div>
                    <div class="o-grid__item c-panel-2">
                        <div class="c-panel-2__top">
                            <img class="c-panel-2__image" src="/assets/panels/panel-2-image.svg" alt="">
                            <h2 class="c-panel-2__title">Dental Startups</h2>
                            <p class="c-panel-2__text">Minimize IT infrastructure overheads while ensuring best-in-class features.
                            </p>
                        </div>
                        <div class="c-panel-2__bottom">
                            <a class="c-link c-link--right-arrow">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="c-progress u-margin-bottom-40">
                    <div class="c-progress__status" style="width: 30%"></div>
                </div>


                <div class="c-section-title">
                    <h3 class="c-section-title__sub mb-50">Organizations of all sizes and complexities trust us to help them drive better results and gain control of their future. </h3>
                </div>

                <div class="c-button-group c-button-group_center">
                    <button class="c-button c-button_primary c-button_tall">Book Free Demo</button>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="c-content c-content_video ">
            <div class="o-video">
                <img class="o-video__content" src="/assets/photo-2.jpg" alt="">
                <div class="o-video__overlay">
                    <a href="" class="c-button c-button_video">How CareStack Works</a>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="c-content">
            <div class="c-content__inner">
                <div class="c-section-title">
                    <h1 class="c-section-title__main ">We Are Here To Help You Succeed</h1>
                </div>
                <ul class="c-tab-1">
                    <li class="c-tab-1__item is-active">
                        <a class="c-tab-1__button">Moving to CareStack </a>
                    </li>
                    <li class="c-tab-1__item">
                        <a class="c-tab-1__button">Professional Services </a>
                    </li>
                    <li class="c-tab-1__item">
                        <a class="c-tab-1__button">Community Support</a>
                    </li>
                </ul>

                <div class="o-grid o-grid_2-column">
                    <div class="o-grid__item">
                        <div class="c-panel-list-1">
                            <div class="c-panel-list-1__item">
                                <h2 class="c-panel-list-1__title">Data Conversion</h2>
                                <p class="c-panel-list-1__text">Lorem ipsum dolor sit amet, consectetur avioiscinr elit, sed do eiusmod.</p>
                            </div>
                            <div class="c-panel-list-1__item">
                                <h2 class="c-panel-list-1__title">Training</h2>
                                <p class="c-panel-list-1__text">Lorem ipsum dolor sit amet, consectetur avioiscinr elit, sed do eiusmod.
                                </p>
                            </div>
                            <div class="c-panel-list-1__item">
                                <h2 class="c-panel-list-1__title">Support</h2>
                                <p class="c-panel-list-1__text">Lorem ipsum dolor sit amet, consectetur avioiscinr elit, sed do eiusmod.</p>
                            </div>
                        </div>
                        <div class="c-progress u-margin-vertical-30">
                            <div class="c-progress__status" style="width: 30%"></div>
                        </div>

                        <p class="o-paragraph u-margin-bottom-30">From training to support, we provide a dedicated team of experts who will make sure you’re always getting the most out of our solutions.</p>

                        <a href="" class="c-link c-link--right-arrow">Learn More</a>
                    </div>
                    <div class="o-grid__item">
                        <img src="assets/photo-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="c-content c-content_testimonials">
            <div class="c-content__left">
                <img src="assets/photo-4.jpg" alt="">
            </div>
            <div class="c-content__right">
                <div class="c-testimonial">
                    <div class="c-testimonial__top">
                        <p class="c-testimonial__text">Switching to CareStack has given us 30% increase in collections without even adding a new team member!</p>
                        <p class="c-testimonial__name">Dr. Haranchal Bains</p>
                        <p class="c-testimonial__designation">CEO, Element Dental</p>
                    </div>
                    <div class="c-testimonial__bottom">
                        <a href="" class="c-testimonial__left"></a>
                        <a href="" class="c-testimonial__right"></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Demo request section -->
        <div class="c-content c-content_form">
            <div class="c-content__left">
                <div class="c-form-1">
                    <div class="c-form-1__header">
                        <h2 class="c-form-1__title">Schedule Your Free Demo</h2>
                        <p class="c-form-1__text">We’ll reach out within 24 hours to schedule your demo.</p>
                    </div>
                    <div class="c-form-1__field-wrapper-container">
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="First and Last Name">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Designation">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Email">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Phone Number">
                        </div>
                        <div class="c-form-1__field-wrapper">
                            <input class="c-field-input" type="text" placeholder="Practice Name">
                        </div>
                    </div>
                    <h2 class="c-form-1__subtitle">Which best describes you?</h2>
                    <div class="c-form-1__radio-group">
                        <label class="c-form-1__radio">
                            <input type="radio" name="radio">
                            <span>Private Practices</span>
                        </label>
                        <label class="c-form-1__radio">
                            <input type="radio" name="radio">
                            <span>Groups And DSO’s</span>
                        </label>
                        <label class="c-form-1__radio">
                            <input type="radio" name="radio">
                            <span>Dental Startups</span>
                        </label>
                    </div>
                    <div class="c-form-1__button-group">
                        <a class="c-button c-button_primary c-button_tall">Submit</a>
                    </div>
                    <p class="c-form-1__sub-text">By requesting a demo, you agree to receive automated text messages from CareStack. We’ll handle your info according to our <a class="link__text" href="#">privacy statement</a>.</p>
                </div>
            </div>
            <div class="c-content__right">
                <img src="assets/image-2.png" alt="">
            </div>
        </div>

        <%- include('partials/common/footer') %>
            <%- include('partials/foot') %>