<%- include('partials/head') %>
    <%- include('partials/common/header') %>

    <div class="c-mega-menu">
        <div class="c-mega-menu__container">
            <div class="c-mega-menu__flex">
                <div class="c-mega-menu__content c-mega-content">
                    <div class="c-mega-content__single">
                        <h2 class="c-mega-content__title">Overview</h2>
                        <ul class="c-mega-list">
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="c-mega-content__double">
                        <h2 class="c-mega-content__title">Features</h2>
                        <ul class="c-mega-list c-mega-list_double">
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                            <li class="c-mega-list__item">
                                <a class="c-mega-list__button">
                                    <h2 class="c-mega-list__name">Product Overview</h2>
                                    <p class="c-mega-list__description">Lorem ipsum dolor sit amet, conse ctetur
                                        adipiscing
                                        elit, incididunt.</p>
                                </a>
                            </li>
                        </ul>
                        <a href="" class="c-mega-content__button"> See Our Certified Integration Partners </a>
                    </div>

                </div>
                <div class="c-mega-menu__aside c-mega-content">
                    <div class="c-mega-content__single">
                        <h2 class="c-mega-content__title">Featured reads</h2>

                    </div>
                </div>
            </div>
        </div>
        <div class="c-mega-menu__footer">
            <a href="" class="c-mega-menu__button">Book Free Demo</a>
        </div>
    </div>

    <!-- Content - Main -->
    <div class="c-content c-content_main">
        <div class="c-content__inner">
            <div class="c-page-title">
                <h1 class="c-page-title__main ">Complete Dental Software</h1>
                <h3 class="c-page-title__sub">
                    Everyday we help thousands of dentists <a class="c-page-title__link">Simplify Operations</a>.<br>
                    Discover how we can make your practice grow and thrive.
                </h3>
            </div>
            <img class="o-hero-image" src="assets/image-1.png" alt="">
            <div class="c-button-group c-button-group_center">
                <button class="c-button c-button_primary">Book Free Demo</button>
            </div>
        </div>
    </div>

    <%- include('partials/common/footer') %>
<%- include('partials/foot') %>
