<%- include('partials/head') %>
    <%- include('partials/common/header') %>
        <div class="c-mega-menu">
            <div class="c-mega-menu__container">
                <div class="c-mega-menu__flex">
                    <div class="c-mega-menu__content c-mega-content">
                        <div class="c-mega-content__single">
                            <h2 class="c-mega-content__title">Moving to CareStack</h2>
                            <p class="c-mega-content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Porro autem adipisci nemo laborum enim molestiae.
                            </p>
                            <ul class="c-mega-content__list">
                                <li class="c-mega-content__item">Data conversion</li>
                                <li class="c-mega-content__item">Training</li>
                                <li class="c-mega-content__item">Support</li>
                            </ul>
                            <div class="c-explore-btn">
                                <div class="c-explore-btn__text">Explore</div>
                                <div class="c-explore-btn__arrow"></div>
                            </div>
                        </div>
                        <div class="c-mega-content__single">
                            <h2 class="c-mega-content__title">PROFESSIONAL SERVICES</h2>
                            <p class="c-mega-content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Porro autem adipisci nemo laborum enim molestiae.
                            </p>
                            <ul class="c-mega-content__list">
                                <li class="c-mega-content__item">Revenue Cycle Management</li>
                                <li class="c-mega-content__item">New Patient Marketing</li>
                                <li class="c-mega-content__item">Success Coaching</li>
                            </ul>
                            <div class="c-explore-btn">
                                <div class="c-explore-btn__text">Explore</div>
                                <div class="c-explore-btn__arrow"></div>
                            </div>
                        </div>
                        <div class="c-mega-content__single">
                            <h2 class="c-mega-content__title">COMMUNITY</h2>
                            <p class="c-mega-content__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Porro autem adipisci nemo laborum enim molestiae.
                            </p>
                            <ul class="c-mega-content__list">
                                <li class="c-mega-content__item">CareStack Champions</li>
                                <li class="c-mega-content__item">Business Skills Academy</li>
                                <li class="c-mega-content__item">Partner Ecosystem</li>
                            </ul>
                            <div class="c-explore-btn">
                                <div class="c-explore-btn__text">Explore</div>
                                <div class="c-explore-btn__arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="c-mega-menu__aside c-mega-content">
                        <div class="c-mega-content__single">
                            <h2 class="c-mega-content__title">Featured reads</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-mega-menu__footer">
                <a href="" class="c-mega-menu__button">Book Free Demo</a>
            </div>
        </div>