.c-featured-resource {
    padding-left: 160px;
    padding-top: 89px;
    &__badge {
        display: inline-block;
        flex-direction: row;
        background-color: #3265cb;
        color: #ffffff;
        height: 30px;
        padding: 3px 15px;
        margin-bottom: 20px;
        border-radius: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        vertical-align: center;
        letter-spacing: 0.01em;
    }
    &__title {
        margin-bottom: 10px;
        font-family: Calibre;
        font-style: normal;
        font-weight: 600;
        font-size: 53px;
        line-height: 63px;
        color: #ffffff;
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        color: #ffffff;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 50px;
    }
    &__link {
        box-sizing: border-box;
        background-color: #3265cb;
        color: #ffffff;
        width: 148px;
        height: 52px;
        padding: 10px 9px;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        cursor: pointer;
    }
}

.c-featured-podcast {
    padding-left: 160px;
    padding-top: 89px;
    &__badge {
        display: inline-block;
        flex-direction: row;
        background-color: #3265cb;
        color: #ffffff;
        height: 30px;
        padding: 3px 15px;
        margin-bottom: 20px;
        border-radius: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        vertical-align: center;
        letter-spacing: 0.01em;
    }
    &__title {
        margin-bottom: 10px;
        font-family: Calibre;
        font-style: normal;
        font-weight: 600;
        font-size: 53px;
        line-height: 63px;
        color: #ffffff;
    }
    &__info {
        font-style: normal;
        font-weight: 400;
        color: #ffffff;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 24px;
        &--bold {
            font-weight: 600;
        }
    }
    &__audio {
        width: 640px;
        height: 133.38px;
        background: url("assets/audio-podcast.png");
        // background: #ffffff;
    }
}