 .c-testimonial {
     width: 448px;
     margin-left: 128px;

    &__top {

    }

    &__text {
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        color: #FFFFFF;
        margin-bottom: 33px;
    }

    &__name {
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }

    &__designation {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin-bottom: 50px;
    }

    &__bottom {
        border-top: 1px solid rgba(61, 64, 67, 0.4);
        padding-top: 40px;
        display: flex;
    }

    &__left {
        background-image: url("/assets/blocks/testimonial-left.svg");
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        display: block;
        margin-right: 16px;
        cursor: pointer;
    }

    &__right {
        background-image: url("/assets/blocks/testimonial-right.svg");
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        display: block;
        cursor: pointer;
    }
 }