.c-list {
    padding-left: 128px;
    &__header {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    &__item {
        padding-left: 36px;
        background-image: url("/assets/list/list-icon.svg");
        background-repeat: no-repeat;
        background-position: left center;
        font-size: 20px;
        line-height: 28px;
        color: rgba(61, 64, 67, 0.9);
        margin-bottom: 10px;
        &.top-align {
            background-position: left 0;
            margin-bottom: 15px;
        }
        &.no-mark {
            @extend .c-list__item;
            background: none;
            padding-left: 0;
        }
    }
    &__item-title {
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        color: rgba(61, 64, 67, 0.9);
        margin-bottom: 5px;
        line-height: 23px;
        font-family: 'Calibre', sans-serif;
    }
}