.c-tab-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;

    &__item.is-active .c-tab-1__button {
        text-decoration: underline;
        color: #3265CB;
    }

    &__button {
        padding: 0 15px;
        font-weight: 400;
        font-size: 26px;
        line-height: 44px;
        color: #3D4043;
        text-decoration: none;
    }
}