.c-resources-menu {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  &__item {
    height: 40px;
  }
  &__link {
    text-decoration: none;
    padding: 3px 38px 6px 38px;
    color: #3d4043;
    font-size: 26px;
    line-height: 31px;
    background-color: #eff3fb;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
  }
}
