@import url("https://fonts.cdnfonts.com/css/calibre");
body,
input,
select,
textarea {
  font-family: Calibre, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  color: #3d4043;
}