.s-health-check {

  [class] {
    outline: 5px solid lightgrey;
  }

  [class*="__"] {
    outline: 5px solid grey;
  }

  [class*="_"] {
    outline: 5px solid darkgrey;
  }

  [class^="o-"],
  [class*=" o-"] {
    outline: 5px solid orange;
  }

  [class^="c-"],
  [class*=" c-"] {
    outline: 5px solid cyan;
  }

  [class*="@"] {
    outline: 5px solid rosybrown;
  }

  [class^="_"] {
    outline: 5px solid red;
  }

}
